@using TNS.AdExpress.Domain.Translation;
@using TNS.AdExpress.Domain.Web;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/" + WebApplicationParameters.CountryCode + "/" + ViewBag.SiteLanguageName)
    <meta http-equiv="X-UA-Compatible" content="IE=10, IE=11, IE=edge" /> 

</head>


<body class="container-kantar">
    <nav class="navbar navbar-default navbar-static-top navbar-color">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>*@
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li title="@GestionWeb.GetWebWord(3055, ViewBag.SiteLanguageCode)">
                        <a href="@Url.Action("Index", "Contact", new { siteLanguage = ViewBag.SiteLanguageCode })">
                            <i class="glyphicon glyphicon-comment"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" id="language-choice" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.SiteLanguageName<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (WebLanguage currentLanguage in WebApplicationParameters.AllowedLanguages.Values)
                            {
                                if (ViewBag.SiteLanguageName == currentLanguage.Name.Substring(0, 2).ToUpper())
                                {
                                    <li><a href="#" data-language-id="@currentLanguage.Id" data-url-action="/Account/ChangeLanguage" class="active">@currentLanguage.Name.Substring(0, 2).ToUpper()</a></li>
                                }
                                else
                                {
                                    <li><a href="#" data-language-id="@currentLanguage.Id" data-url-action="/Account/ChangeLanguage">@currentLanguage.Name.Substring(0, 2).ToUpper()</a></li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="login-content-body">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/language-choice")


    @RenderSection("scripts", required: false)
</body>
</html>
