@using TNS.AdExpress.Domain.Translation;
@using TNS.AdExpress.Domain.Web;
@using TNS.AdExpress.Constantes.Web
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/" + WebApplicationParameters.CountryCode + "/" + ViewBag.SiteLanguageName)
    
    

    <meta http-equiv="X-UA-Compatible" content="IE=10, IE=11, IE=edge" /> 
    
    @if (WebApplicationParameters.CountryCode == CountryCode.FINLAND)
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10360228-9"></script>
        <script>
  window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-10360228-9');
        </script>
    }
    
    

</head>

<body class="container-kantar-results">
    <nav class="navbar navbar-default navbar-static-top navbar-color">
        <div class="container">
            @*ROMAIN*@
            <div class="bb-alert alert alert-info" style="display:none;">
                <span></span>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand" href="/">
                    <img src="../Content/img/@(WebApplicationParameters.CountryCode)/Kantar_Media_BMPro_SW_RGB.png" onError="this.onerror = null; this.src = '../Content/img/Kantar_Media_BMPro_SW_RGB.png';" alt="Ad Express - Kantar Media">
                </a>
                <ul class="nav navbar-nav">
                    <li title="@GestionWeb.GetWebWord(760, ViewBag.SiteLanguage)"><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li title="@GestionWeb.GetWebWord(761, ViewBag.SiteLanguage)">
                        <a href="@Url.Action("MyAdExpress", "Home")">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </li>
                    <li title="@GestionWeb.GetWebWord(3055, ViewBag.SiteLanguage)">
                        <a href="@Url.Action("Index", "Contact", new { siteLanguage = ViewBag.SiteLanguage })">
                            <i class="glyphicon glyphicon-comment"></i>
                        </a>
                    </li>
                    @if (WebApplicationParameters.EnableGdpr)
                    {
                        <text>
                            <li title="@GestionWeb.GetWebWord(3244, ViewBag.SiteLanguage)">
                                <a href="@Url.Action("Index", "PrivacyPolicy", new {siteLanguage = ViewBag.SiteLanguage})">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </a>
                            </li>
                            <li title="@GestionWeb.GetWebWord(3245, ViewBag.SiteLanguage)">
                                <a href="@Url.Action("Index", "CookiePolicy", new {siteLanguage = ViewBag.SiteLanguage})">
                                    <i class="glyphicon glyphicon-asterisk"></i>
                                </a>
                            </li>
                            <li title="@GestionWeb.GetWebWord(3272, ViewBag.SiteLanguage)">
                                <a href="@Url.Action("Index", "CookieSettings")">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </a>
                            </li>
                        </text>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" id="language-choice" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.SiteLanguageName<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (WebLanguage currentLanguage in WebApplicationParameters.AllowedLanguages.Values)
                            {
                                if (ViewBag.SiteLanguageName == currentLanguage.Name.Substring(0, 2).ToUpper())
                                {
                                    <li><a href="#" data-language-id="@currentLanguage.Id" data-url-action="/Home/ChangeLanguage" class="active">@currentLanguage.Name.Substring(0, 2).ToUpper()</a></li>
                                }
                                else
                                {
                                    <li><a href="#" data-language-id="@currentLanguage.Id" data-url-action="/Home/ChangeLanguage">@currentLanguage.Name.Substring(0, 2).ToUpper()</a></li>
                                }
                            }
                        </ul>
                    </li>

                    <li title="@GestionWeb.GetWebWord(2929, ViewBag.SiteLanguage)">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <input type="hidden" id="current-url" value="/Home/Index" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/language-choice")

    @RenderSection("scripts", required: false)
    
    

</body>
</html>
