@using TNS.AdExpress.Domain.Translation;
@using TNS.AdExpress.Domain.Web;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">
    <meta http-equiv="X-UA-Compatible" content="IE=10, IE=11, IE=edge" /> 
</head>

<body class="container-kantar-results">
    <nav class="navbar navbar-default navbar-static-top navbar-color">
        <div class="container">
            @*ROMAIN*@
            <div class="bb-alert alert alert-info" style="display:none;">
                <span></span>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand" href="/">
                    <img src="../Content/img/Kantar_Media_BMPro_SW_RGB.png" alt="Ad Express - Kantar Media">
                </a>
                <ul class="nav navbar-nav">
                    <li title="@GestionWeb.GetWebWord(760, ViewBag.SiteLanguage)"><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li title="@GestionWeb.GetWebWord(761, ViewBag.SiteLanguage)">
                        <a href="@Url.Action("MyAdExpress", "Home")">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </li>
                    <li title="@GestionWeb.GetWebWord(3055, ViewBag.SiteLanguage)">
                        <a href="@Url.Action("Index", "Contact")">
                            <i class="glyphicon glyphicon-comment"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" id="language-choice" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.SiteLanguageName<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (WebLanguage currentLanguage in WebApplicationParameters.AllowedLanguages.Values)
                            {
                                if (ViewBag.SiteLanguageName == currentLanguage.Name.Substring(0, 2).ToUpper())
                                {
                                    <li><a href="#" data-language-id="@currentLanguage.Id" data-url-action="/Home/ChangeLanguage" class="active">@currentLanguage.Name.Substring(0, 2).ToUpper()</a></li>
                                }
                                else
                                {
                                    <li><a href="#" data-language-id="@currentLanguage.Id" data-url-action="/Home/ChangeLanguage">@currentLanguage.Name.Substring(0, 2).ToUpper()</a></li>
                                }
                            }
                        </ul>
                    </li>

                    <li title="@GestionWeb.GetWebWord(2929, ViewBag.SiteLanguage)">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <input type="hidden" id="current-url" value="/Home/Index" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/language-choice")

    @RenderSection("scripts", required: false)

</body>
</html>
