@using TNS.AdExpress.Domain.Translation;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">
    <meta http-equiv="X-UA-Compatible" content="IE=10, IE=11, IE=edge" /> 

</head>


<body class="container-kantar">
    <nav class="navbar navbar-default navbar-static-top navbar-color">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>*@
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" id="language-choice" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.SiteLanguageName<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (ViewBag.SiteLanguageName == "FR")
                            {
                                <li><a href="#" data-language-id="33" data-url-action="/Account/ChangeLanguage" class="active">FR</a></li>
                                <li><a href="#" data-language-id="44" data-url-action="/Account/ChangeLanguage">EN</a></li>
                            }
                            else
                            {
                                <li><a href="#" data-language-id="33" data-url-action="/Account/ChangeLanguage">FR</a></li>
                                <li><a href="#" data-language-id="44" data-url-action="/Account/ChangeLanguage" class="active">EN</a></li>

                            }

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="login-content-body">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/language-choice")


    @RenderSection("scripts", required: false)
</body>
</html>
