<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">
    <meta http-equiv="X-UA-Compatible" content="IE=10, IE=11, IE=edge" /> 
</head>

<body class="container-kantar-other">
    <nav class="navbar navbar-default navbar-static-top navbar-color">
        <div class="container">
            @*ROMAIN*@
            <div class="bb-alert alert alert-info" style="display:none;">
                <span>The examples populate this alert with dummy content</span>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="/">
                <img src="../Content/img/Kantar_Media_BMPro_SW_RGB.png" alt="Ad Express - Kantar Media">
            </a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li>
                        <a href="@Url.Action("MyAdExpress", "Home")">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Contact")">
                            <i class="glyphicon glyphicon-comment"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" id="language-choice" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.SiteLanguageName<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (ViewBag.SiteLanguageName == "FR")
                            {
                                <li><a href="#" data-language-id="33" data-url-action="/Home/ChangeLanguage" class="active">FR</a></li>
                                <li><a href="#" data-language-id="44" data-url-action="/Home/ChangeLanguage" >EN</a></li>
                            }
                            else
                            {
                                <li><a href="#" data-language-id="33" data-url-action="/Home/ChangeLanguage" >FR</a></li>
                                <li><a href="#" data-language-id="44" data-url-action="/Home/ChangeLanguage"  class="active">EN</a></li>

                            }

                        </ul>
                    </li>

                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                        @Html.AntiForgeryToken()
                        }
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <div class="modal fcour fade" id="loader" tabindex="-1">
        <div class="modal-dialog">
            <div id="spinner-loader">
                <div class='uil-ring-css' style='transform:scale(0.54);'><div></div></div>
            </div>
        </div>
              
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/language-choice")


    @RenderSection("scripts", required: false)

</body>
</html>
