@model  List<Km.AdExpressClientWeb.Models.NavigationNode>

    <div class="col-xs-1 margin-b text-left">&nbsp;</div>
    <div class="col-xs-10 margin-b text-left">
        <center>
            <ul class="timeline">
                @foreach (var navigation in Model)
                {
                    var currentPosition = "";
                    if (navigation.Position == navigation.Id)
                    {
                        currentPosition = "hovered";
                    }

                    if (navigation.Id > 1)
                    {
                        if (navigation.Id <= navigation.Position)
                        {
                            <li class="tl-item">
                                <div class="tl-wrap tl-active">
                                    <div class="tl-content">
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="tl-item">
                                <div class="tl-wrap">
                                    <div class="tl-content">
                                    </div>
                                </div>
                            </li>
                        }
                    }



                    if (!navigation.IsDisabled)
                    {
                        if (navigation.IsActive)
                        {
                            <li class="tl-header">
                                <a id=@(navigation.Description) class="btn btn-warning btn-circle @(currentPosition)" href="@Url.Action(navigation.Action, navigation.Controller, navigation.Id)">
                                    <i class="@(navigation.IconCssClass)"></i>
                                </a>
                                <p class="lead">@navigation.Title</p>
                            </li>
                        }
                        else
                        {
                            <li class="tl-header">
                                <a id=@(navigation.Description) class="btn btn-warning btn-circle btn-empty @(currentPosition)" href="@Url.Action(navigation.Action, navigation.Controller, navigation.Id)">
                                    <i class="@(navigation.IconCssClass)"></i>
                                </a>
                                <p class="lead">@navigation.Title</p>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="tl-header disabled">
                            <a id=@(navigation.Description) class="btn btn-warning btn-circle">
                                <i class="@(navigation.IconCssClass)"></i>
                            </a>
                            <p class="lead">@navigation.Title</p>
                        </li>
                    }

                }
            </ul>
        </center>
    </div>