@model Km.AdExpressClientWeb.Models.MediaSchedule.PresentationModel
@using TNS.AdExpress.Domain.Translation;
@{
    ViewBag.Title = "Presentation";
}

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
    <h1 class=""><i class="icon-chart blue"></i> @GestionWeb.GetWebWord(Model.ModuleCode, Model.SiteLanguage)</h1>
    <small class="">@GestionWeb.GetWebWord(Model.ModuleDecriptionCode, Model.SiteLanguage)</small>
</div>
@if (Model.ShowUserSavedGroups)
{
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">    
    <h3 class="univ text-right"><a href="#monunivers" data-toggle="modal"><i class="icon-star blue"></i></a></h3>
    <div id="monunivers" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header-kantar-popup">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <i class="fa icon-star orange"></i>
                    <h8>@GestionWeb.GetWebWord(Model.UserUniversCode, Model.SiteLanguage)</h8>
                </div>
                @if (Model.UserUniversGroups.Any())
                {
                    foreach (var item in Model.UserUniversGroups)
                    {
                        <div class="modal-body panel-group panel-univers-select" id="accordion">
                            <div class="panel panel-primary panel-univers-select">
                                <div class="panel-heading head-univers-select">
                                    <h6 class="panel-title famille">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse@(item.Id)">
                                            @item.Description <span class="badge bg-orange white">@item.Count</span>
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapse@(item.Id)" class="panel-collapse collapse">
                                    <div class="col-sm-6 no-padder">
                                            @foreach (var level in item.ClientUnivers.Take(item.FirstColumnSize))
                                                {
                                                        <div class="radio modal-radio">
                                                                <label class="popup-text">
                                                                    <input type="radio" name="universOpt">
                                                                    <i></i>
                                                                    @level.Description
                                                                </label>
                                                           </div>
                                                }           
                                    </div>
                                    <div class="col-sm-6 no-padder">
                                        @foreach (var level in item.ClientUnivers.GetRange(item.FirstColumnSize,item.SecondeColumnSize))
                                        {
                                            <div class="radio modal-radio">
                                                <label class="popup-text">
                                                    <input type="radio" name="universOpt">
                                                    <i></i>
                                                    @level.Description
                                                </label>
                                            </div>
                                        }
                                    </div>

                                 </div>

                        @*<div class="col-sm-4 no-padder">
        <div class="radio">
            <label class="popup-text">
                <input type="radio" name="universOpt">
                <i></i>
                Univers 4
            </label>
        </div>
        <div class="radio">
            <label class="popup-text">
                <input type="radio" name="universOpt">
                <i></i>
                Univers 5
            </label>
        </div>
        <div class="radio">
            <label class="popup-text">
                <input type="radio" name="universOpt">
                <i></i>
                Univers 6
            </label>
        </div>
    </div>*@

                            </div>
                        </div>                    
                    }
                <div class="modal-footer">
                    <button type="button" class="btn btn-valider" data-dismiss="modal">@GestionWeb.GetWebWord(Model.LoadUniversCode, Model.SiteLanguage)</button>
                </div>
                }
                else
                {
                    <div class="modal-content-alert popup-text alert alert-warning center-block" role="alert">@GestionWeb.GetWebWord(Model.ErrorMsgCode, Model.SiteLanguage)</div>
                }                
            </div>
        </div>
    </div>  
</div>
}
@if (Model.ShowCurrentSelection)
{
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
    <h3 class="tools text-right pull-right">
        <a href="#myModal" data-toggle="modal"><i class="icon-eyeglass  blue"></i> </a>
    </h3>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <i class="fa  icon-eyeglasses blue"></i>
                    <h4 class="font-normal m-t-none m-b-md text-primary-lt">Rappel de la sélection</h4>
                </div>
                <div class="modal-body">
                    <p>Ici la selection lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-valider" data-dismiss="modal">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>
}

