@model Km.AdExpressClientWeb.Models.Shared.SaveUserResultViewModel
@using TNS.AdExpress.Domain.Translation;

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header header-kantar-popup">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="font-normal">@Model.Title</h4>
        </div>
        <div class="modal-body panel-group panel-univers-select">
            <ul>
                <li>
                    <div id="userFoldersId" class="form-group">
                        <label class="control-label col-sm-6 col-sm-6 popup-text" for="userFolders">@Model.SelectFolder</label>
                        <div class="col-sm-6 col-md-6">
                            @Html.DropDownListFor(p => p.SelectedUserFolderId, Model.UserFolders, new { @class = "form-control", @id = "folders" })
                        </div>
                    </div>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <div id="userResultsId" class="form-group">
                        <label class="control-label col-sm-6 col-sm-6 popup-text" for="userResults">@Model.SelectResult</label>
                        <div class="col-sm-6 col-md-6">
                            @Html.DropDownListFor(p => p.SelectedUserResultId, Model.UserResults, new { @class = "form-control", @id = "results" })
                        </div>
                    </div>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <div id="resultLabel" class="form-group">
                        <label class="control-label col-sm-6 col-sm-6 popup-text" for="univers">@Model.ResultLabel</label>
                        <div class="col-sm-6 col-md-6">
                            @Html.TextBoxFor(p => p.Name, new { @class = "form-control", @id = "resultName" })
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-save-univers-footer">
            <button id="btnSaveResult" type="button" class="btn btn-submit" data-dismiss="modal">@Model.SubmitLabel</button>
        </div>
    </div>
</div>

