@model Km.AdExpressClientWeb.Models.Shared.InsertionCreativeViewModel

@{
    ViewBag.Title = "Creative";
    Layout = "~/Views/Shared/_LayoutInsertionVersion.cshtml";
}
<link href="~/IgniteUI/css/structure/infragistics.css" rel="stylesheet" />
<link href="~/IgniteUI/css/themes/kantar/infragistics.theme.css" rel="stylesheet" />

<div class="row">

    <div class="col-md-12" style="background-color:black;padding-bottom:15px;">
        <div class="panel-heading" style="background-color:black; color:white; max-height:70px;">
            <h5><span style="font-size:24px"><i class="fa fa-search-plus blue"></i>&nbsp; @Model.Labels.CreativeLabel</span></h5>
            <ul id="PresentVehicles" class="pull-right nav panel-tabs" role="tablist"></ul>
        </div>
        <div id="HeaderLoader">
            <center><i style="color:#26caff;" class="fa fa-spinner fa-pulse fa-fw"></i></center>
        </div>

        <div id="HeaderElmt" style="display:none">
            <div id="subPeriodSelection" style="background-color:grey"></div>

            <div id="filterEvaliantPanel" class="bg-orange" style="display:none;">
                <a data-toggle="collapse" class="collapsed" href="#filterEvaliant">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h5 class="panel-title">
                            @Model.Labels.FiltreLabel
                            <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
                        </h5>
                    </div>
                </a>
                <div id="filterEvaliant" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="contentFilter"></div>
                        <button id="validEvaliantFilters" class="pull-right btn btn-action">@Model.Labels.Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-12" style="margin-top:10px;">
            <center>
                <p id="gridEmpty" style="display:none">@Model.Labels.EmptyGrid</p>
                <div id="grid" style="display:none"></div>
                <div id="gridLoader" style="display:none">
                    <div class='uil-ring-css' style='transform:scale(0.54);'><div></div></div>
                </div>
            </center>
        </div>
    </div>

    <!-- Modal lien video radio -->
    <div id="creativeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header-kantar-popup">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
                    <h4 class="font-normal" style="color:white;"><i class="fa fa-2x "></i></h4>
                </div>
                <div class="modal-body">
                    <div class="media video-audio-container">
                        <video id="creativeStream" width="100%" controls="controls" preload="auto" autoplay>
                            Votre navigateur ne gère pas l'élément
                        </video>
                        <div id="mediaLoader">
                            <center><i style="color:black;" class="fa fa-spinner fa-pulse fa-fw"></i></center>
                        </div>
                        <OBJECT id="objectSWF" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://active.macromedia.com/flash5/cabs/swflash.cab#version=5,0,0,0">
                            <PARAM name="movie" value="">
                            <PARAM name="play" value="true">
                            <PARAM name="quality" value="high">
                            <EMBED src="" play="true" swliveconnect="true" quality="high" />
                        </OBJECT>
                        <object id="objectFLV" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://active.macromedia.com/flash5/cabs/swflash.cab#version =5,0,0,0">
                            <param name="flashvars" value="" />
                            <param name="movie" value="/Player/playerflv.swf" />
                            <param name="allowfullscreen" value="true" />
                            <param name="allowscriptaccess" value="always" />
                            <embed type="application/x-shockwave-flash" src="/Player/playerflv.swf" allowscriptaccess="always" allowfullscreen="false" flashvars="" />
                        </object>
                        <iframe id="objectHTML5" src="" scrolling="no" onload="Html5Loaded()"></iframe>
                    </div>
                </div>
                <div class="modal-footer hide">
                    <a href="" download="" class="btn btn-valider w-full">@Model.Labels.DownloadLabel&nbsp;<i class="fa fa-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal zoom visuel -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="Visuel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header-kantar-popup">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Model.Labels.VisuelLabel</h4>
                </div>
                <div class="modal-body">
                    <center><img style="max-width:100%;" src="" id="imagepreview"></center>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="gadModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/IgniteUI/js/i18n/infragistics-fr.js"></script>
    <script src="~/IgniteUI/js/infragistics.core.js"></script>
    <script src="~/IgniteUI/js/infragistics.lob.js"></script>

    <script id="colVisuTmpl" type="text/template">
        {{if ${Visu}.startsWith('[') && ${Visu}.endsWith(']') }}
        <!-- Slider -->
        <div class="row" style="margin-bottom:15px;">
            <div style="width:350px; float:left" id="visuCarou" datavisu="${Visu}" class="carousel slide" style="margin-bottom:10px;">
                <div class="carousel-inner" role="listbox"></div>

                <a class="left carousel-control">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Precedent</span>
                </a>
                <a class="right carousel-control">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
            <div style="margin-left:350px;" class="infos"></div>
        </div>
        {{else}}
        ${Visu}
        {{/if}}
    </script>
    <script>
    if (typeof jQuery === "undefined") { throw new Error("No jQuery") }

        $("#grid").igTreeGrid({
            //dataSource: data,
            primaryKey: "Id",
            width: "95%",
            defaultColumnWidth: 200,
            autoGenerateColumns: true,
        });


        var ds;
        var cols;
        var colsFixed;
        var needFixedColumns = false;
        var periodType = "Mois";

        function paramsUrl() {
            this.ids = "@(Model.paramsUrl[0])";
            this.zoomDate = "@(Model.paramsUrl[1])";
            this.idUnivers = "@(Model.paramsUrl[2])";
            this.moduleId = "@(Model.paramsUrl[3])";
            this.idVehicle = "@(Model.paramsUrl[4])";
        }

        function UserFilter() {
            this.paramsUrl = new paramsUrl();
            this.isVehicleChanged = true;
            this.EvaliantFilters;
        }

        function EvaliantFilter(id, list) {
            this.IdFilter = id;
            this.ValuesFilter = list;
        }

        var userFilter = new UserFilter();

        var renderGrid = function (success, error) {
            if (success) {

                $("#grid").igTreeGrid("destroy");
                $("#gridLoader").hide();
                $("#grid").show();
                if (needFixedColumns) {
                    $("#grid").igTreeGrid({
                        dataSource: ds.dataView(),
                        columns: cols,
                        //height: "650px",
                        autoGenerateColumns: false,
                        primaryKey: "ID",
                        foreignKey: "PID",
                        width: "100%",
                        fixedHeaders : false,
                        features: [
                            {
                                name: "MultiColumnHeaders"
                            },
                            {
                                name: "Paging",
                                mode: "allLevels",
                                pageSize: 25
                            },
                            {
                                name: "ColumnFixing",
                                fixingDirection: "left",
                                columnSettings: colsFixed
                            }
                        ]
                    })
                }
                else {
                    $("#grid").igTreeGrid({
                        dataSource: ds.dataView(),
                        columns: cols,
                        //height: "650px",
                        autoGenerateColumns: true,
                        primaryKey: "ID",
                        foreignKey: "PID",
                        width: "100%",
                        fixedHeaders: false,
                        features: [
                            {
                                name: "MultiColumnHeaders"
                            },
                            {
                                name: "Paging",
                                mode: "allLevels",
                                pageSize: 25
                            }
                        ]
                    })
                }
            } else {
                alert("Erreur");
            }
        }

        function CallCreativeResult() {
            $("#gridEmpty").hide();
            var parameters = {
                ids: userFilter.paramsUrl.ids,
                zoomDate: userFilter.paramsUrl.zoomDate,
                idUnivers: userFilter.paramsUrl.idUnivers,
                moduleId: userFilter.paramsUrl.moduleId,
                idVehicle: userFilter.paramsUrl.idVehicle,
                isVehicleChanged: userFilter.isVehicleChanged,
                listEvaliantFilter: userFilter.EvaliantFilters
            };

            $.ajax({
                url: '@Url.Action("CreativeResult", "Creative")',
                contentType: "application/x-www-form-urlencoded",
                type: "POST",
                datatype: "json",
                data: parameters,
                error: function (xmlHttpRequest, errorText, thrownError) {
                    alert("Erreur");
                },
                success: function (data) {
                    if (data != null && data != "") {

                        //Filter
                        if (data.filtertitle != null && data.filtertitle != "" && userFilter.EvaliantFilters == null) {
                            strHtml = "";
                            for (j = 0; j < data.filtertitle.length; j++) {
                                strHtml += '<div class="col-md-12 titleFilter">' + data.filtertitle[j] + '</div>';
                                strHtml += '<div class="col-md-12">';
                                for (i = 0; i < data.filterdatas[j].length; i++) {
                                    id = data.filterdatas[j][i].id;
                                    label = data.filterdatas[j][i].label;
                                    strHtml += '<label class="checkbox-inline no_indent"><input type="checkbox" name="EvaliantFilter" id ="' + id + '" value="' + label + '" >' + label + '</label>';
                                }
                                strHtml += '</div>';
                            }

                            $("#contentFilter").html(strHtml);
                            $("#filterEvaliantPanel").show();
                        }


                        dataTreeGrid = data.datagrid;
                        colsFixed = data.columnsfixed;
                        needFixedColumns = data.needfixedcolumns;

                        var schema = new $.ig.DataSchema("array", {
                            fields: data.schema
                        });

                        cols = data.columns
                        for (i = 0; i < cols.length; i++) {
                            if(cols[i].key == "Visu")
                                cols[i].template = $("#colVisuTmpl").html();
                        }

                        ds = new $.ig.DataSource({
                            type: "json",
                            schema: schema,
                            dataSource: dataTreeGrid,
                            callback: renderGrid
                        });

                        ds.dataBind();

                    }
                    else {
                        $("#gridLoader").hide();
                        $("#gridEmpty").show();
                        $("#grid").hide();
                    }
                }
            });
        }

        function CallGetPresentVehicles() {

            var parameters = {
                ids: userFilter.paramsUrl.ids,
                moduleId: userFilter.paramsUrl.moduleId,
                idUnivers: userFilter.paramsUrl.idUnivers,
            };

            $.ajax({
                url: '@Url.Action("GetPresentVehicles", "Creative")',
                contentType: "application/x-www-form-urlencoded",
                type: "POST",
                datatype: "json",
                data: parameters,
                error: function (xmlHttpRequest, errorText, thrownError) {
                    alert("Erreur");
                },
                success: function (response) {
                    if (response != null) {
                        var data = JSON.parse(response);

                        if (data.length > 0) {
                            var strHTML = "";
                            var idV = data[0][0];
                            if (!(0 === userFilter.paramsUrl.idVehicle) && userFilter.paramsUrl.idVehicle)
                                idV = userFilter.paramsUrl.idVehicle;

                            $.each(data, function (i, item) {
                                if (idV == item[i]) {
                                    strHTML += '<li class="active"><a data-target="#tab-1" role="tab" data-toggle="tab" aria-expanded="true" id="' + item[0] + '">' + item[1] + '</a></li>'
                                } else {
                                    strHTML += '<li><a data-target="#tab-1" role="tab" data-toggle="tab" aria-expanded="true" id="' + item[0] + '">' + item[1] + '</a></li>'
                                }
                            });
                            $('#PresentVehicles').html(strHTML);
                            userFilter.paramsUrl.idVehicle = idV.toString();
                            userFilter.isVehicleChanged = true;

                            CallCreativeResult();

                            $("#HeaderElmt").show();
                            $("#gridLoader").show();

                        } else {
                            $("#gridEmpty").show();
                        }
                        $("#HeaderLoader").hide();

                    }
                }
            });
        }


        function GetSubPeriodSelection() {
            var params = {
                zoomDate: userFilter.paramsUrl.zoomDate
            };
            $.ajax({
                url: '@Url.Action("SubPeriodSelection", "MediaSchedule")',
                contentType: "application/x-www-form-urlencoded",
                type: "POST",
                data: params,
                error: function (xmlHttpRequest, errorText, thrownError) {
                },
                success: function (data) {
                    if (data != null) {
                        $('#subPeriodSelection').html(data);
                        $('#allSubPeriod').removeClass("hidden");
                        userFilter.paramsUrl.zoomDate = $(".btn-default-sub-period[disabled]").attr("period");
                        $("#leave-zoom").addClass("hide");
                        $(".sub-period-btn").on('click', function (e) {
                            $(".btn-default-sub-period").prop('disabled', false);
                            $(".btn-default-sub-period").attr('class', 'btn btn-default sub-period-btn');
                            $(this).attr('class', 'btn btn-default-sub-period sub-period-btn');
                            $(this).prop('disabled', true);
                            $("#grid").hide();
                            $("#gridLoader").show();
                            userFilter.paramsUrl.zoomDate = $(this).attr("period");
                            userFilter.isVehicleChange = false;
                            userFilter.EvaliantFilters = null;
                            $("#contentFilter").html("");
                            CallCreativeResult();
                        });
                        $(".sub-period-btn").on('mouseenter', function (e) {
                            previousSubPeriodLabel = $(".btn-default-sub-period").attr("periodlabel");
                            $("#subPeriodLabel").text($(this).attr("periodlabel"));
                        });
                        $(".sub-period-btn").on('mouseleave', function (e) {
                            $("#subPeriodLabel").text(previousSubPeriodLabel);
                        });
                    }
                }
            });
        }

        function AutoPlayCreativeModal() {
            $("#creativeStream").attr('src', '');
            $("#creativeStream").hide();
            $("#objectSWF").hide();
            $("#objectFLV").hide();
            $("#objectHTML5").hide();
            $("#mediaLoader").show();
            
            $("#creativeModal").on('shown.bs.modal', function (event) {
                $('#creativeModal h4 > i').attr("class", 'fa iconInsertionCreative iconInsertionCreative' + userFilter.paramsUrl.idVehicle + '');
                var button = $(event.relatedTarget);// Button that triggered the modal
                var datas = button.data('creative').toString(); // Extract info from data-* attributes
                var format = button.data('format').toString(); // Extract info from data-* attributes
                datas = datas.replace(/\[|\]/g, '');
                datas = datas.split(",");
                var url = false;
                var urlDownload = false;

                function ajaxGetLinkPath() {
                    var parameters = {
                        idVersion: datas[0],
                        idVehicle: datas[2]
                    };
                    $.ajax({
                        url: '@Url.Action("GetCreativePath", "Creative")',
                        contentType: "application/x-www-form-urlencoded",
                        type: 'POST',
                        datatype: 'JSON',
                        data: parameters,
                        error: function (xmlHttpRequest, errorText, thrownError) {
                            alert("Erreur lors de la recuperation de url de la version");
                        },
                        success: function (response) {
                            if (response != null) {
                                url = response.PathReadingFile;
                                urlDownload = response.PathDownloadingFile;
                            }
                            if (url) {
                                $("#creativeStream").attr('src', url);
                                $("#mediaLoader").hide();
                                $("#creativeStream").show();
                                $("#creativeStream").load();
                            }
                            if (urlDownload) {
                                $("#creativeModal .modal-footer").removeClass("hide");
                                $("#creativeModal .modal-footer > a").attr("href", urlDownload);
                                //$("#creativeModal .modal-footer > a").attr("download", parameters.idVersion);
                            }
                        }
                    });
                }


                if (datas[0] === null || datas[0] == "" || datas[0] == 0 || datas[0] == "0") {
                    alert("Les fichiers média ne sont pas disponibles.");
                }
                else if(format != ""){ //url direct, sauf pour AVI
                    switch (format) {
                        case "AVI":
                            ajaxGetLinkPath();
                            break;
                        case "SWF":
                            $("#objectSWF param").first().attr("value", datas[0]);
                            $("#objectSWF embed").attr("src", datas[0]);
                            $("#objectSWF").show();
                            break;
                        case "FLV":
                            $("#objectFLV param").first().attr("value", "file=" + datas[0]);
                            $("#objectFLV embed").attr("flashvars", "file=" + datas[0]);
                            $("#objectFLV").show();
                            break;
                        case "HTML5":
                            url = datas[0];
                            $("#objectHTML5").attr('src', url);
                            $("#objectHTML5").show();
                            break;
                        default:
                            url = datas[0];
                            $("#creativeStream").attr('src', url);
                            $("#creativeStream").show();
                    }
                    $("#mediaLoader").hide()
                }
                else{
                    ajaxGetLinkPath();
                }

            });

            $("#creativeModal").on('hide.bs.modal', function () {
                $("#creativeStream").attr('src', '');
                $("#creativeStream").hide();
                $("#objectSWF").hide();
                $("#objectFLV").hide();
                $("#objectHTML5").hide();
                $("#mediaLoader").show();
                $("#creativeModal .modal-footer").addClass("hide");
                Html5UnLoaded("objectHTML5");
            });
        }


        function AutoPlayVisu() {
            $("div[datavisu]").each(function (index) {
                var datas = $(this).attr('datavisu').toString();
                $(this).attr("id", "visuCarou" + index);
                var active = "active";
                datas = datas.split('],[');
                visus = datas[0].replace(/\[|\]/g, '').split(",");
                paramsLink = datas[1].replace(/\[|\]/g, '').split(",");
                infos = datas[2].replace(/\[|\]/g, '').split(";");
                try { format = datas[3].replace(/\[|\]/g, ''); } catch(e){ format = "";} 

                //Visuels
                if (visus.length > 1) {
                    for (i = 0; i < visus.length; i++) {
                        if (i != 0) active = "";
                        $(this).find(".carousel-inner").prepend('<div class="item ' + active + '" ><center><img id="pop" class="imgCreaInser" src="' + visus[i] + '" /></center></div>')
                    }
                }
                else {
                    $(this).attr("id", "visu");
                    if (format != "")
                        $(this).html('<center><img class="imgCreaInser" src="/Content/img/evaliantFormat/' + format + '.png" onError="this.onerror=null;this.src=\'/Content/img/no_visu.jpg\';" /></center>');
                    else {
                        if (visus[0] == "")
                            $(this).html('<span class="fa big iconInsertionCreative iconInsertionCreative' + userFilter.paramsUrl.idVehicle + '"></span>');
                        else
                            $(this).html('<center><img id="pop" class="imgCreaInser" src="' + visus[0] + '" onError="this.onerror=null;this.src=\'/Content/img/no_visu.jpg\';" /></center>');
                    }
                    //Lien mp4,mp3,flv,... du visuel (onclick)
                    if (paramsLink[0] != "")
                        $(this).html('<div class="text-center"><a href="#creativeModal" data-toggle="modal" data-creative="' + paramsLink + '" data-format="'+ format +'" >' + $(this).html() + '</a></div>');
                }
                //Infos
                for (j = infos.length - 1; j >= 0; j--) {
                    if (infos[j] != "" && (infos[j].indexOf(":") >= 0) ){
                        tmp = infos[j].split(":");
                        $(this).next().prepend('<div><span class="infoCreaInser" >' + tmp.shift() + '</span> : ' + tmp.join(':') + '</div>')
                    }
                }
            });
        }

        GetSubPeriodSelection();
        CallGetPresentVehicles();
        AutoPlayCreativeModal();

        $("#gadModal").on('shown.bs.modal', function (event) {
            var link = $(event.relatedTarget);// Button that triggered the modal
            var datas = link.data('gad').toString(); // Extract info from data-* attributes
            datas = datas.replace(/\[|\]/g, '');
            datas = datas.split(",");

            if (datas[0] === null || datas[0] == "" || datas[0] == 0 || datas[0] == "0") {
                alert("Les infos Gad ne sont pas disponibles.");
            }
            else {
                var params = {
                    idAddress: datas[2],
                    advertiser: datas[1]
                };
                CallGadInfos(params);
            }
        });

        function CallGadInfos(params) {
            $.ajax({
                url: '@Url.Action("GadInfos", "Gad")',
                contentType: "application/x-www-form-urlencoded",
                type: "GET",
                datatype: "json",
                data: params,
                error: function (xmlHttpRequest, errorText, thrownError) {
                },
                success: function (data) {
                    $('#gadModal').html(data);
                    $("#btn-gad-detail").click(function (event) {
                        var link = $(event.target);// Button that triggered the modal
                        var datas = link.data('gad').toString(); // Extract info from data-* attributes

                        if (datas === null || datas == "" || datas == 0 || datas == "0") {
                            alert("Le lien vers Gad n'est pas disponible.");
                        }
                        else {
                            window.open(datas, "_blank");
                        }
                    });
                }
            });
        }

        //** Important charge les images au fur et a mesure que le teableau s'affiche
        $("#grid").on("igtreegridrowsrendered igtreegridrowexpanding igtreegridrowcollapsing", function (evt, ui) {
            AutoPlayVisu();

            $(".carousel").each(function (index) {
                $("#visuCarou" + index.toString()).carousel("pause");
                $("#visuCarou" + index.toString()).find('.left').click(function () {
                    $("#visuCarou" + index.toString()).carousel("prev");
                });
                $("#visuCarou" + index.toString()).find('.right').click(function () {
                    $("#visuCarou" + index.toString()).carousel("next");
                });
            });

        });


        //OnChange Vehicle
        function getEventTarget(e) {
            e = e || window.event;
            return e.target || e.srcElement;
        }
        $(document).on("click", "#PresentVehicles > li > a", function () {
            $("#grid").hide();
            $("#gridLoader").show();
            userFilter.isVehicleChanged = true;
            userFilter.paramsUrl.idVehicle = $(this).attr('id');
            $("#contentFilter").html("");
            userFilter.EvaliantFilters = null;
            CallCreativeResult();

        });

        //Zoom visuel
        $(document).on("click", "#pop", function () {
            $('#imagepreview').attr('src', $(this).attr('src'));
            $('#imagemodal').modal('show');
        });


        $(document).on('click', '#validEvaliantFilters', function (e) {
            var arrValues = {};
            var listEvaliantFilters = [];
            $("input[name='EvaliantFilter']:checked").each(
                function () {
                    var id = this.id;
                    arrValues[id] = $("input[name='EvaliantFilter'][id='"+id+"']:checked").map(function () { return this.value; }).get()
                }
            );
            for (var key in arrValues) {
                listEvaliantFilters.push(new EvaliantFilter(key, arrValues[key]));
            }
            userFilter.EvaliantFilters = listEvaliantFilters;

            $("#grid").hide();
            $("#gridLoader").show();
            CallCreativeResult();
        });

        //Resize la modal avec la taille de l'iframe
        function Html5Loaded() {
            var iFrameID = document.getElementById("objectHTML5");
            if (iFrameID) {

                $("#objectHTML5").removeAttr("width");
                $("#objectHTML5").removeAttr("height");

                newheight = iFrameID.contentWindow.document.body.scrollHeight + 50;
                newwidth = iFrameID.contentWindow.document.body.scrollWidth + 50;

                $("#creativeModal > .modal-dialog").css("width", (newwidth) + "px");
                $("#creativeModal > .modal-dialog > .modal-content > .modal-body").css("height", (newheight) + "px");

                iFrameID.height = (newheight) + "px";
                iFrameID.width = (newwidth) + "px";
            }
        }
        function Html5UnLoaded(idElmt) {
            var iFrameID = document.getElementById(idElmt);
            if (iFrameID) {
                $("#creativeModal > .modal-dialog").removeAttr("style");
                $("#creativeModal > .modal-dialog > .modal-content > .modal-body").removeAttr("style");
            }
        }

        //Change Icone Filter quand hide/show collapse
        $(document).on('show.bs.collapse', '#filterEvaliant', function (e) {
            $(this)
                .parent()
                .find(".glyphicon-chevron-right")
                .removeClass("glyphicon-chevron-right")
                .addClass("glyphicon-chevron-down");
        });
        $(document).on('hide.bs.collapse', '#filterEvaliant', function (e) {
            $(this)
                .parent()
                .find(".glyphicon-chevron-down")
                .removeClass("glyphicon-chevron-down")
                .addClass("glyphicon-chevron-right");
        });

    </script>
}