@model Km.AdExpressClientWeb.Models.HomePageViewModel
@using TNS.AdExpress.Constantes.Web
@using TNS.AdExpress.Domain.Web;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

@section Scripts {
    @Scripts.Render("~/bundles/module-selection")
    @Scripts.Render("~/bundles/cookies")

    <script>

        createCookie("sortKey", "", 1);
        createCookie("sortOrder", "", 1);

        function OpenOldWebSite(url) {
            window.open(url, "_blank");
        }

        function RedirectToOldWebSite(moduleId) {

            $('#' + moduleId).on('click', function (e) {
                var lo = encodeURIComponent('@Model.EncryptedLogin');
                var pa = encodeURIComponent('@Model.EncryptedPassword');
                var mo = moduleId;

                var link = '@Model.WebSiteUri' + 'index.aspx?l=' + lo + '&p=' + pa + '&m=' + mo;

                window.open(link, "_blank");
                return false;
            });
        }

        //Redirect to ChronoPresse
        //RedirectToOldWebSite(@Module.Name.BILAN_CAMPAGNE);

        //Redirect to Tendencies
        //RedirectToOldWebSite(@Module.Name.TENDACES);

        //RedirectToOldWebSite(@Module.Name.ANALYSE_DES_PROGRAMMES);

        //RedirectToOldWebSite(@Module.Name.TABLEAU_DE_BORD_PAN_EURO);
        //RedirectToOldWebSite(@Module.Name.TABLEAU_DE_BORD_PRESSE);
        //RedirectToOldWebSite(@Module.Name.TABLEAU_DE_BORD_RADIO);
        //RedirectToOldWebSite(@Module.Name.TABLEAU_DE_BORD_TELEVISION);

        RedirectToOldWebSite(@Module.Name.VP);


    </script>
}
<div class="row">
    @*LEFT SIDE (Modules)*@
    @if (Model.CountryCode.Equals(CountryCode.FINLAND))
    {
        Html.RenderPartial("_ModulesFi", Model);
    }
    else if (Model.CountryCode.Equals(CountryCode.IRELAND))
    {
        Html.RenderPartial("_ModulesIr", Model);
    }
    else if (Model.CountryCode.Equals(CountryCode.TURKEY))
    {
        Html.RenderPartial("_ModulesTr", Model);
    }
    else
    {
        Html.RenderPartial("_ModulesFr", Model);
    }

    @*RIGHT SIDE*@
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h4 class="text-center">@(Model.Labels.NewsLabel)</h4>
        @switch (Model.CountryCode)
        {
            case CountryCode.FINLAND:
                Html.RenderPartial("_HomeNewsFi");
                break;
            case CountryCode.TURKEY:
                Html.RenderPartial("_HomeNewsTr");
                break;
            default:
                Html.RenderPartial("_HomeNewsFr");
                break;
        }

        @*PDF*@
        @foreach (var item in Model.Documents)
        {

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-lr-2 dropdown">
                <div class="tile-pdf" data-toggle="dropdown">
                    <div class="tile-body text-center">
                        <div class="flip-container">
                            <div class="front tile-cursor">
                                <i class="fa fa-file-pdf-o sli-size-small red"></i>
                                <h5>@item.Label<span class="caret red"></span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile-deploy pdf dropdown-menu" id="X@(item.Id)">
                    <div class="tile-body text-center">
                        <div class="list-group">
                            @if (item.InfosNews != null)
                            {
                                foreach (var e in item.InfosNews)
                                {
                                    if (item.Label == "Documents")
                                    {
                                            <a href="@Url.Action("Pdf","PDF", new { fileName = @e.Url })" class="list-group-item text-left" target="_blank">@e.Label</a>
                                    }
                                    else
                                    {
                                            <a href="@e.Url" class="list-group-item text-left" target="_blank">@e.Label</a>
                                    }
                                }
                                if (Model.CountryCode.Equals(CountryCode.FRANCE) && item.Label == "Documents")
                                {
                                    if (Model.SiteLanguage == 33)
                                    {
                                        <a href="~/Content/xls/Liste supports en alerte.xls" class="list-group-item text-left" target="_blank">Liste supports en alerte</a>
                                    }
                                    else if (Model.SiteLanguage == 44)
                                    {
                                        <a href="~/Content/xls/List of vehicles on alert.xls" class="list-group-item text-left" target="_blank">List of vehicles on alert</a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        @*CONTACT*@
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-lr-10">
            <div class="tile-third bg-green">
                <div class="tile-body text-center">
                    <a href="@Url.Action("Index", "Contact", new { siteLanguage = ViewBag.SiteLanguage })">
                        <div class="flip-container">
                            <div class="front">
                                @*<i class="icon-bubbles sli-size-small"></i>*@
                                <i style="font-size: 1.4em;" class="glyphicon glyphicon-comment"></i>
                                <h5>@(Model.Labels.ContactUsLabel)</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="current-url" value="/Home/Index" />

