@model Km.AdExpressClientWeb.Models.HomePageViewModel
@using TNS.AdExpress.Constantes.Web
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

@section Scripts {
    @Scripts.Render("~/bundles/module-selection")
 

    <script>
        function OpenOldWebSite(url) {
            window.open(url, "_blank");
        }

        function RedirectToOldWebSite(moduleId) {

            $('#' + moduleId).on('click', function (e) {
                var lo = encodeURIComponent('@Model.EncryptedLogin');
                var pa = encodeURIComponent('@Model.EncryptedPassword');
                var mo = moduleId
                var link = 'http://adexpress.kantarmedia.fr/index.aspx?l=' + lo + '&p=' + pa + '&m=' + mo;
                window.open(link, "_blank");
                return false;
            });
        }

        //Redirect to ChronoPresse
        RedirectToOldWebSite(@Module.Name.BILAN_CAMPAGNE);

        //Redirect to New Creative
        RedirectToOldWebSite(@Module.Name.NEW_CREATIVES);

        //Redirect to Tendencies
        RedirectToOldWebSite(@Module.Name.TENDACES);

        //Redirect to Tendencies
        RedirectToOldWebSite(@Module.Name.TENDACES);

        //Redirect to Tendencies
        RedirectToOldWebSite(@Module.Name.ANALYSE_MANDATAIRES);

        //Redirect to Tendencies
        RedirectToOldWebSite(@Module.Name.ANALYSE_MANDATAIRES);

        //Redirect to Tendencies
        @*RedirectToOldWebSite(@Module.Name.INDICATEUR);

        //Redirect to Tendencies
        RedirectToOldWebSite(@Module.Name.TABLEAU_DYNAMIQUE);*@

        RedirectToOldWebSite(@Module.Name.ANALYSE_DES_DISPOSITIFS);

        RedirectToOldWebSite(@Module.Name.ANALYSE_DES_PROGRAMMES);

        RedirectToOldWebSite(@Module.Name.TABLEAU_DE_BORD_PAN_EURO);
        RedirectToOldWebSite(@Module.Name.TABLEAU_DE_BORD_PRESSE);
        RedirectToOldWebSite(@Module.Name.TABLEAU_DE_BORD_RADIO);
        RedirectToOldWebSite(@Module.Name.TABLEAU_DE_BORD_TELEVISION);

        
    </script>
}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h4 class="text-center">@(Model.Labels.ModuleLabel)</h4>
        @*<p class="text-center">@(Model.Labels.YourModule)</p>*@
        @*Four Mostly Importants*@
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10">
            <div class="tile">
                @if (Model.ModuleRight.ContainsKey(Module.Name.ANALYSE_PLAN_MEDIA))
                {
                    <a href="@Url.Action("Market", "Selection" )" class="tile-body text-center module-done" id="@Module.Name.ANALYSE_PLAN_MEDIA">
                        <div class="flip-container">
                            <div class="front">
                                <i class="icon-chart sli-size blue"></i>
                                <h3>@Model.Modules[(Module.Name.ANALYSE_PLAN_MEDIA)].Title</h3>
                            </div>
                            <div class="back">
                                <p class="backText font-size12 text-center">@Model.Modules[(Module.Name.ANALYSE_PLAN_MEDIA)].Description</p>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <div class="tile-body text-center disabled-effect">
                        <div class="flip-container">
                            <div class="front">
                                <i class="icon-chart sli-size blue"></i>
                                <h3>@Model.Modules[(Module.Name.ANALYSE_PLAN_MEDIA)].Title</h3>
                            </div>
                            <div class="back">
                                <p class="backText font-size12 text-center">@Model.Modules[(Module.Name.ANALYSE_PLAN_MEDIA)].Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10">
            <div class="tile">
                @if (Model.ModuleRight.ContainsKey(Module.Name.ANALYSE_PORTEFEUILLE))
                {
                    <a href="@Url.Action("MediaSelection", "Portfolio" )" class="tile-body text-center module-done" id="@Module.Name.ANALYSE_PORTEFEUILLE">
                        <div class="flip-container">
                            <div class="front">
                                <i class="icon-layers sli-size blue"></i>
                                <h3>@Model.Modules[(Module.Name.ANALYSE_PORTEFEUILLE)].Title</h3>
                            </div>
                            <div class="back">
                                <p class="backText font-size12 text-center">@Model.Modules[(Module.Name.ANALYSE_PORTEFEUILLE)].Description</p>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <div class="tile-body text-center disabled-effect">
                        <div class="flip-container">
                            <div class="front">
                                <i class="icon-layers sli-size blue"></i>
                                <h3>@Model.Modules[(Module.Name.ANALYSE_PORTEFEUILLE)].Title</h3>
                            </div>
                            <div class="back">
                                <p class="backText font-size12 text-center">@Model.Modules[(Module.Name.ANALYSE_PORTEFEUILLE)].Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10">
            <div class="tile">
                @if (Model.ModuleRight.ContainsKey(Module.Name.ANALYSE_DYNAMIQUE))
                {
                    <a href="@Url.Action("MediaSelection", "LostWon" )" class="tile-body text-center module-done" id="@Module.Name.ANALYSE_DYNAMIQUE">
                        <div class="flip-container">
                            <div class="front">
                                <i class="icon-calculator sli-size blue"></i>
                                <h3>@Model.Modules[(Module.Name.ANALYSE_DYNAMIQUE)].Title</h3>
                            </div>
                            <div class="back">
                                <p class="backText font-size12 text-center">@Model.Modules[(Module.Name.ANALYSE_DYNAMIQUE)].Description</p>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <div class="tile-body text-center disabled-effect">
                        <div class="flip-container">
                            <div class="front">
                                <i class="icon-calculator sli-size blue"></i>
                                <h3>@Model.Modules[(Module.Name.ANALYSE_DYNAMIQUE)].Title</h3>
                            </div>
                            <div class="back">
                                <p class="backText font-size12 text-center">@Model.Modules[(Module.Name.ANALYSE_DYNAMIQUE)].Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10">
            <div class="tile">
                @if (Model.ModuleRight.ContainsKey(Module.Name.ANALYSE_CONCURENTIELLE))
                {
                    <a href="@Url.Action("MediaSelection", "PresentAbsent" )" class="tile-body text-center module-done" id="@Module.Name.ANALYSE_CONCURENTIELLE">
                        <div class="flip-container">
                            <div class="front">
                                <i class="icon-equalizer sli-size blue"></i>
                                <h3>@Model.Modules[(Module.Name.ANALYSE_CONCURENTIELLE)].Title</h3>
                            </div>
                            <div class="back">
                                <p class="backText font-size12 text-center">@Model.Modules[(Module.Name.ANALYSE_CONCURENTIELLE)].Description</p>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <div class="tile-body text-center disabled-effect">
                        <div class="flip-container">
                            <div class="front">
                                <i class="icon-equalizer sli-size blue"></i>
                                <h3>@Model.Modules[(Module.Name.ANALYSE_CONCURENTIELLE)].Title</h3>
                            </div>
                            <div class="back">
                                <p class="backText font-size12 text-center">@Model.Modules[(Module.Name.ANALYSE_CONCURENTIELLE)].Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @*Three Mostly Importants*@
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-lr-10">
            <div class="tile-second">
                @if (Model.ModuleRight.ContainsKey(Module.Name.BILAN_CAMPAGNE))
                {

                    @* <a href="@Url.Action("Index","Chrono")" class="tile-body text-center" id="@Module.Name.BILAN_CAMPAGNE">*@
                    <a class="tile-body text-center" id="@Module.Name.BILAN_CAMPAGNE">
                        <div class="flip-container-second">
                            <div class="front-second">
                                <i class="icon-book-open sli-size-small green"></i>
                                <h5>@Model.Modules[(Module.Name.BILAN_CAMPAGNE)].Title</h5>
                            </div>
                            <div class="back-second">
                                <p class="font-size12 text-center">@Model.Modules[(Module.Name.BILAN_CAMPAGNE)].Description</p>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <div class="tile-body text-center disabled-effect">
                        <div class="flip-container">
                            <div class="front">
                                <i class="icon-book-open sli-size-small green"></i>
                                <h5>@Model.Modules[(Module.Name.BILAN_CAMPAGNE)].Title</h5>
                            </div>
                            <div class="back">
                                <p class="font-size12 text-center">@Model.Modules[(Module.Name.BILAN_CAMPAGNE)].Description</p>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-lr-10">
            <div class="tile-second">
                @if (Model.ModuleRight.ContainsKey(Module.Name.NEW_CREATIVES))
                {
                    @*<a href="@Url.Action("Index", "NouvelleCrea")" class="tile-body text-center" id="@Module.Name.NEW_CREATIVES">*@
                    <a class="tile-body text-center" id="@Module.Name.NEW_CREATIVES">
                        <div class="flip-container-second">
                            <div class="front-second">
                                <i class="icon-picture sli-size-small green"></i>
                                <h5>@Model.Modules[(Module.Name.NEW_CREATIVES)].Title</h5>
                            </div>
                            <div class="back-second">
                                <p class="font-size12 text-center">@Model.Modules[(Module.Name.NEW_CREATIVES)].Description</p>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <div class="tile-body text-center disabled-effect">
                        <div class="flip-container-second">
                            <div class="front-second">
                                <i class="icon-picture sli-size-small green"></i>
                                <h5>@Model.Modules[(Module.Name.NEW_CREATIVES)].Title</h5>
                            </div>
                            <div class="back-second">
                                <p class="font-size12 text-center">@Model.Modules[(Module.Name.NEW_CREATIVES)].Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-lr-10">
            <div class="tile-second">
                @if (Model.ModuleRight.ContainsKey(Module.Name.TENDACES))
                {
                    @*<a href="@Url.Action("Index", "Tendances")" class="tile-body text-center" id="@Module.Name.TENDACES">*@
                    <a class="tile-body text-center" id="@Module.Name.TENDACES">
                        <div class="flip-container-second">
                            <div class="front-second">
                                <i class="icon-eye sli-size-small green"></i>
                                <h5>@Model.Modules[(Module.Name.TENDACES)].Title</h5>
                            </div>
                            <div class="back-second">
                                <p class="font-size12 text-center">@Model.Modules[(Module.Name.TENDACES)].Description</p>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <div class="tile-body text-center disabled-effect">
                        <div class="flip-container-second">
                            <div class="front-second">
                                <i class="icon-eye sli-size-small green"></i>
                                <h5>@Model.Modules[(Module.Name.TENDACES)].Title</h5>
                            </div>
                            <div class="back-second">
                                <p class="font-size12 text-center">@Model.Modules[(Module.Name.TENDACES)].Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @*Two pdf stuff*@
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10 dropdown">
            <div class="tile-third" data-toggle="dropdown">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-magnifier  sli-size-small green"></i>
                            <h5>@(Model.Labels.AnalysisLabel)<span class="caret green"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-deploy dropdown-menu">
                <div class="tile-body text-center">
                    <div class="list-group">
                        @if (Model.ModuleRight.ContainsKey(Module.Name.ANALYSE_MANDATAIRES))
                        {
                            <a href="#" class="list-group-item text-left" id="@Module.Name.ANALYSE_MANDATAIRES">@Model.Modules[(Module.Name.ANALYSE_MANDATAIRES)].Title</a>
                        }
                        else {
                            <div class="list-group-item text-left disabled-effect">@Model.Modules[(Module.Name.ANALYSE_MANDATAIRES)].Title</div>
                        }
                        @if (Model.ModuleRight.ContainsKey(Module.Name.INDICATEUR))
                        {
                            <a href="@Url.Action("Market", "Selection")" class="list-group-item text-left module-done" id="@Module.Name.INDICATEUR">@Model.Modules[(Module.Name.INDICATEUR)].Title</a>
                        }
                        else {
                            <div class="list-group-item text-left disabled-effect">@Model.Modules[(Module.Name.INDICATEUR)].Title</div>
                        }
                        @if (Model.ModuleRight.ContainsKey(Module.Name.TABLEAU_DYNAMIQUE))
                        {
                            <a href="@Url.Action("Market", "Selection")" class="list-group-item text-left module-done" id="@Module.Name.TABLEAU_DYNAMIQUE">@Model.Modules[(Module.Name.TABLEAU_DYNAMIQUE)].Title.TrimStart()</a>
                        }
                        else
                        {
                            <div class="list-group-item text-left disabled-effect">@Model.Modules[(Module.Name.TABLEAU_DYNAMIQUE)].Title</div>
                        }
                        @if (Model.ModuleRight.ContainsKey(Module.Name.ANALYSE_DES_DISPOSITIFS))
                        {
                            <a href="#" class="list-group-item text-left" id="@Module.Name.ANALYSE_DES_DISPOSITIFS">@Model.Modules[(Module.Name.ANALYSE_DES_DISPOSITIFS)].Title</a>
                        }
                        else {
                            <div class="list-group-item text-left disabled-effect">@Model.Modules[(Module.Name.ANALYSE_DES_DISPOSITIFS)].Title</div>
                        }
                        @if (Model.ModuleRight.ContainsKey(Module.Name.ANALYSE_DES_PROGRAMMES))
                        {
                            <a href="#" class="list-group-item text-left" id="@Module.Name.ANALYSE_DES_PROGRAMMES">@Model.Modules[(Module.Name.ANALYSE_DES_PROGRAMMES)].Title</a>
                        }
                        else {
                            <div class="list-group-item text-left disabled-effect">@Model.Modules[(Module.Name.ANALYSE_DES_PROGRAMMES)].Title</div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10 dropdown">
            <div class="tile-third" data-toggle="dropdown">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-speedometer  sli-size-small green"></i>
                            <h5>@(Model.Labels.DashboardsLabel)<span class="caret green"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-deploy dropdown-menu">
                <div class="tile-body text-center">
                    <div class="list-group">
                        @if (Model.ModuleRight.ContainsKey(Module.Name.TABLEAU_DE_BORD_PAN_EURO))
                        {
                            <a href="#" class="list-group-item text-left" id="@Module.Name.TABLEAU_DE_BORD_PAN_EURO">@Model.Modules[(Module.Name.TABLEAU_DE_BORD_PAN_EURO)].Title</a>
                        }
                        else {
                            <div class="list-group-item text-left disabled-effect">@Model.Modules[(Module.Name.TABLEAU_DE_BORD_PAN_EURO)].Title</div>
                        }
                        @if (Model.ModuleRight.ContainsKey(Module.Name.TABLEAU_DE_BORD_PRESSE))
                        {
                            <a href="#" class="list-group-item text-left" id="@Module.Name.TABLEAU_DE_BORD_PRESSE">@Model.Modules[(Module.Name.TABLEAU_DE_BORD_PRESSE)].Title</a>
                        }
                        else {
                            <div class="list-group-item text-left disabled-effect">@Model.Modules[(Module.Name.TABLEAU_DE_BORD_PRESSE)].Title</div>
                        }
                        @if (Model.ModuleRight.ContainsKey(Module.Name.TABLEAU_DE_BORD_RADIO))
                        {
                            <a href="#" class="list-group-item text-left" id="@Module.Name.TABLEAU_DE_BORD_RADIO">@Model.Modules[(Module.Name.TABLEAU_DE_BORD_RADIO)].Title</a>
                        }
                        else {
                            <div class="list-group-item text-left disabled-effect">@Model.Modules[(Module.Name.TABLEAU_DE_BORD_RADIO)].Title</div>
                        }
                        @if (Model.ModuleRight.ContainsKey(Module.Name.TABLEAU_DE_BORD_TELEVISION))
                        {
                            <a href="#" class="list-group-item text-left" id="@Module.Name.TABLEAU_DE_BORD_TELEVISION">@Model.Modules[(Module.Name.TABLEAU_DE_BORD_TELEVISION)].Title</a>
                        }
                        else {
                            <div class="list-group-item text-left disabled-effect">@Model.Modules[(Module.Name.TABLEAU_DE_BORD_TELEVISION)].Title</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*RIGHT SIDE*@
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h4 class="text-center">@(Model.Labels.NewsLabel)</h4>
        @*<p class="text-center">@(Model.Labels.NewsDescr)</p>*@
        @*IMG ACCUEIL*@
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10 padding-b-15">
            <a target="_blank" href="@Url.Action("Pdf","PDF", new { fileName = "AdExpress_Version-Optimisée.pdf" })">
                <img src="../Content/img/bann-new-AdExpress.jpg" class="img-responsive" alt="Ad Express - Kantar Media">
            </a>
        </div>
        @*PANEL INFO*@
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10">
            <div class="panel panel-default panel-home">
                <div class="panel-heading">

                    <h4><i class="icon-bubble white"></i> Informations</h4>
                </div>
                <div class="panel-body information-fixed">
                    <div class="media">
                        <div class="media-body">
                            <div class="date pull-left">
                                <h4 class="text-center"><strong>09</strong></h4>
                                <h4 class="text-center"><small>JUIN</small></h4>
                            </div>
                            <div class="title pull-left information-title-width">
                                <h4 class="information-title">Kantar Media partenaire et membre du jury des trophées de la video online 2016 le 9 juin prochain</h4>
                                <em>Par Equipe Ad Intelligence de Kantar Media</em>
                            </div>
                            <div class="clearfix"></div>
                            <div class="content">
                                <p>Les Trophées de la vidéo online récompensent les meilleures utilisations, solutions, innovations, créations, technologies, réalisations, campagnes vidéo… combinant de façon optimale Vidéo et Internet. Kantar Media y sera, tout comme l’année précédente, partenaire premium et membre du jury.</p><br />
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="date pull-left">
                                <h4 class="text-center"><strong>14</strong></h4>
                                <h4 class="text-center"><small>AVR</small></h4>
                            </div>
                            <div class="title pull-left information-title-width">
                                <h4 class="information-title">Printemps des études : conférence exceptionnelle de Sir Martin Sorrell, PDG du groupe WPP</h4>
                                <em>Par Equipe Ad Intelligence de Kantar Media</em>
                            </div>
                            <div class="clearfix"></div>
                            <div class="content">
                                <p>Kantar Media vous donne rendez-vous le Jeudi 14 avril de 9h30 à 10h30 au Grand Auditorium du Palais Brongniart dans lequel Sir Martin Sorrell, PDG du groupe WPP, exposera sa vision des études et du marketing.</p>
                                <p>A 12h, Kantar Media et Millward Brown donneront une conférence au petit Auditorium sur le thème suivant : « Comment adapter vos vidéos publicitaires aux plateformes ? ».</p><br>
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="date pull-left">
                                <h4 class="text-center"><strong>12</strong></h4>
                                <h4 class="text-center"><small>AVR</small></h4>
                            </div>
                            <div class="title pull-left information-title-width">
                                <h4 class="information-title">Kantar Media partenaire du Grand prix du Brand Content 2016 le 12 avril prochain</h4>
                                <em>Par Equipe Ad Intelligence de Kantar Media</em>
                            </div>
                            <div class="clearfix"></div>
                            <div class="content">
                                <p>Kantar Media sera une nouvelle fois partenaire du Grand Prix du Brand Content 2016 qui vise à récompenser les meilleures stratégies de contenu de marques, l’occasion de valoriser le talent  des acteurs dans ce domaine.</p><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*PDF*@
        @foreach (var item in Model.Documents)
        {

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-lr-2 dropdown">
                <div class="tile-pdf" data-toggle="dropdown">
                    <div class="tile-body text-center">
                        <div class="flip-container">
                            <div class="front tile-cursor">
                                <i class="fa fa-file-pdf-o sli-size-small red"></i>
                                <h5>@item.Label<span class="caret red"></span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile-deploy pdf dropdown-menu" id="X@(item.Id)">
                    <div class="tile-body text-center">
                        <div class="list-group">
                            @if (item.InfosNews != null)
                            {
                                foreach (var e in item.InfosNews)
                                {
                                    if (item.Label == "Documents")
                                    {
                                        <a href="@Url.Action("Pdf","PDF", new { fileName = @e.Url })" class="list-group-item text-left" target="_blank">@e.Label</a>
                                    }
                                    else
                                    {
                                        <a href="@e.Url" class="list-group-item text-left" target="_blank">@e.Label</a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        @*CONTACT*@
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-lr-10">
            <div class="tile-third bg-green">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <a href="@Url.Action("Index", "Contact")">
                                @*<i class="icon-bubbles sli-size-small"></i>*@                           
                                <i class="fa fa-comment fa-lg"></i> 
                                <h5>@(Model.Labels.ContactUsLabel)</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="current-url" value="/Home/Index" />

