@model  Km.AdExpressClientWeb.Models.Home.MyAdExpressViewModel
@{
    ViewBag.Title = "MyAdExpress";
    Layout = "~/Views/Shared/_LayoutMyAdExpress.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class=""><i class="icon-user blue"></i>&nbsp;@Model.PresentationModel.ModuleTitle</h1>
        <small class="">@Model.PresentationModel.ModuleDescription</small>
    </div>
</div>
<div class="row">
    <ul id="tab-myadexpress" class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#home" data-toggle="tab">@Model.Labels.Results</a></li>
        <li role="presentation"><a href="#profile" data-toggle="tab">@Model.Labels.UserUniversCode</a></li>
        <li role="presentation"><a href="#alertes" data-toggle="tab">@Model.Labels.AlertsCode</a></li>
    </ul>
    @*TAG OBLIGATOIRE
        tab-content-myadexpress
        panel panel-default panel-tab
        panel-heading resume
    *@
    <div id="tab-content-myadexpress" class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="panel panel-default panel-tab">
                <div class="panel-heading resume">
                    @if (Model.SavedResults != null && Model.SavedResults.UniversGroups.Any())
                    {
                        <h3 class="panel-title pull-left">
                            <span class="blue">@Model.SavedResults.NbrFolder</span> répertoires,  <span class="blue">@Model.SavedResults.NbrUniversGroups</span> résultats
                        </h3>
                        <h3 class="panel-title pull-right">
                            <a href="#myModal1" data-toggle="modal" title="Ajouter un répertoire" class="m-r-xs"><i class="fa icon-plus text-md"></i></a>
                            <a href="#myModal3" data-toggle="modal" title="Renommer un répertoire" class="m-r-xs"><i class="fa icon-pencil text-md"></i></a>
                            <a href="#myModal2" data-toggle="modal" title="Supprimer un répertoire"><i class="fa icon-trash text-md"></i></a>
                        </h3>
                    }
                    else
                    {
                        <h3 class="panel-title pull-left">
                            <span>@Model.Labels.NoSavedUnivers</span>
                        </h3>
                    }
                    <div class="clearfix"></div>
                </div>

                <div class="panel-body">
                    @*@if (Model.SavedResults != null && Model.SavedResults.UniversGroups.Any())
                {
                foreach (var item in Model.SavedResults.UniversGroups)
                {*@
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="btn-block" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        MON REPERTOIRE 1
                                        <i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul class="list-group b-r">
                                                <li class="list-group-item">
                                                    <span>Cras justo odio</span>
                                                    <div class="pull-right">
                                                        <a>
                                                            <i class="fa fa-search fa-lg"></i>
                                                        </a>
                                                        <a href="#myModal4" data-toggle="modal" title="Déplacer le résultat">
                                                            <i class="fa icon-share-alt fa-lg"></i>
                                                        </a>
                                                        <a>
                                                            <i class="fa fa-pencil fa-lg"></i>
                                                        </a>
                                                        <a>
                                                            <i class="fa fa-trash-o fa-lg"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <ul class="list-group">
                                                <li class="list-group-item">Cras justo odio</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div role="tabpanel" class="tab-pane" id="profile">univers</div>
        <div role="tabpanel" class="tab-pane" id="alertes">
            <div class="panel panel-default panel-tab">
                @*REPERTOIRES RESULTATS*@
                <div class="panel-heading resume">

                    @if (Model.SavedResults != null && Model.SavedResults.UniversGroups.Any())
                    {
                        <h3 class="panel-title pull-left">
                            <span class="blue">@Model.SavedResults.NbrFolder</span> répertoires,  <span class="blue">@Model.SavedResults.NbrUniversGroups</span> résultats
                        </h3>
                        <h3 class="panel-title pull-right">
                            <a href="#myModal1" data-toggle="modal" title="Ajouter un répertoire" class="m-r-xs"><i class="fa icon-plus text-md"></i></a>
                            <a href="#myModal3" data-toggle="modal" title="Renommer un répertoire" class="m-r-xs"><i class="fa icon-pencil text-md"></i></a>
                            <a href="#myModal2" data-toggle="modal" title="Supprimer un répertoire"><i class="fa icon-trash text-md"></i></a>
                        </h3>
                    }
                    else
                    {
                        <h3 class="panel-title pull-left">
                            <span>@Model.Labels.NoSavedUnivers</span>
                        </h3>
                    }
                    <div class="clearfix"></div>
                </div>

                <div class="panel-body">
                    @*@if (Model.SavedResults != null && Model.SavedResults.UniversGroups.Any())
                {
                foreach (var item in Model.SavedResults.UniversGroups)
                {*@
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="btn-block" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        MON REPERTOIRE 1
                                        <i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4><i class="fa fa-clock-o fa-lg"></i>&nbsp;Occurences</h4>
                                            <ul class="list-group b-r">
                                                <li class="list-group-item">
                                                    <span>Envoyée le 19/11/2012 à 07:55:29</span>
                                                    <div class="pull-right">
                                                        <a>
                                                            <i class="fa fa-search fa-lg"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <span>Envoyée le 19/11/2012 à 07:55:29</span>
                                                    <div class="pull-right">
                                                        <a>
                                                            <i class="fa fa-search fa-lg"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <h4><i class="fa fa-bell-o fa-lg"></i>&nbsp;Détails de l'alerte</h4>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            Périodicité
                                                        </li>
                                                        <li class="list-group-item">
                                                            Planification horaire
                                                        </li>
                                                        <li class="list-group-item">
                                                            Date d'expiration
                                                        </li>
                                                        <li class="list-group-item">
                                                            Type d'alerte
                                                        </li>
                                                        <li class="list-group-item">
                                                            Déstinataire
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            Quotidienne
                                                        </li>
                                                        <li class="list-group-item">
                                                            16:00
                                                        </li>
                                                        <li class="list-group-item">
                                                            31/12/2020
                                                        </li>
                                                        <li class="list-group-item">
                                                            Bilan présents/absents
                                                        </li>
                                                        <li class="list-group-item">
                                                            guillaume.facon@tnsmi.fr
                                                        </li>





                                                    </ul>
                                                </div>
                                            </div>

                                            @*<div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Table cell</td>
                                                        <td>Table cell</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Table cell</td>
                                                        <td>Table cell</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Table cell</td>
                                                        <td>Table cell</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*}
                }*@
                </div>

            </div>
        </div>
    </div>
</div>
