@model  AdExpressUniversResponse
@using Kantar.AdExpress.Service.Core.Domain;
@*@(tree == Model.Trees.First(e => e.AccessType == AccessType.includes) ? "class=active" : ""*@

<div role="tabpanel"  class="@(Model.UniversType == UniversType.Result ? "tab-pane active" : "tab-pane")" id="@(Model.UniversType)">
    <div class="panel panel-default panel-tab">
        <div class="panel-heading resume">
            @if (Model != null && Model.UniversGroups.Any())
            {
                <h3 class="panel-title pull-left">
                    <span class="blue">@Model.NbrFolder</span> @Model.Labels.Directories,  <span class="blue">@Model.NbrUnivers</span> @Model.Labels.Results
                </h3>
                            <h3 class="panel-title pull-right">
                                <a id="btnCreate@(Model.UniversType)Directory"data-toggle="modal" title="Ajouter un répertoire" class="m-r-xs adExpress-tools"><i class="fa icon-plus text-md"></i></a>
                                <a id="btnRename@(Model.UniversType)Directory" data-toggle="modal" title="Renommer un répertoire" class="m-r-xs adExpress-tools"><i class="fa icon-pencil text-md"></i></a>
                                <a id="btnDrop@(Model.UniversType)Directory" data-toggle="modal" title="Supprimer un répertoire"><i class="fa icon-trash text-md adExpress-tools"></i></a>
                            </h3>
            }
            else
            {
                <h3 class="panel-title pull-left">
                    <span>@Model.Labels.NoSavedUnivers</span>
                </h3>
            }
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            @if (Model != null && Model.UniversGroups.Any())
            {
                foreach (var item in Model.UniversGroups)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="btn-block" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(item.Id)" aria-expanded="true" aria-controls="collapseOne">
                                        @item.Description
                                        <i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse@(item.Id)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="row">

                                        @if (item.UserUnivers.Any(p => p.Id > 0))
                                        {
                                            <div class="col-lg-6">
                                                <ul class="list-group b-r">

                                                    @foreach (var univers in item.UserUnivers.Take(item.FirstColumnSize))
                                                    {
                                                        <li class="list-group-item">
                                                            <span>@univers.Description</span>
                                                            <div class="pull-right">
                                                                @if (Model.UniversType == UniversType.Result)
                                                                {
                                                                <a class="btnLoadSession adExpress-tools"data-id="@univers.Id" data-directory-id="@item.Id" data-type="Session">
                                                                    <i class="fa fa-search fa-lg"></i>
                                                                </a>
                                                                }
                                                                <a class="btnMove@(Model.UniversType) adExpress-tools" data-toggle="modal" data-id="@univers.Id" data-directory-id="@item.Id" title="Déplacer le résultat">
                                                                    <i class="fa icon-share-alt fa-lg"></i>
                                                                </a>
                                                                <a class="btnRename@(Model.UniversType) adExpress-tools" data-toggle="modal"  data-id="@univers.Id" data-directory-id="@item.Id">
                                                                    <i class="fa fa-pencil fa-lg"></i>
                                                                </a>
                                                                <a class="btnDelete@(Model.UniversType) adExpress-tools" data-id="@univers.Id" data-directory-id="@item.Id">
                                                                    <i class="fa fa-trash-o fa-lg"></i>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                                        <div class="col-lg-6">
                                                            <ul class="list-group b-r">
                                                                @foreach (var univers in item.UserUnivers.GetRange(item.FirstColumnSize, item.SecondeColumnSize))
                                                                {
                                                                    <li class="list-group-item">
                                                                        <span>@univers.Description</span>
                                                                        <div class="pull-right">
                                                                            @if (Model.UniversType == UniversType.Result)
                                                                            {
                                                                                <a class="btnLoadSession adExpress-tools" data-id="@univers.Id" data-directory-id="@item.Id">
                                                                                    <i class="fa fa-search fa-lg"></i>
                                                                                </a>
                                                                            }
                                                                            <a class="btnMove@(Model.UniversType) adExpress-tools" data-toggle="modal" data-id="@univers.Id" data-directory-id="@item.Id" title="Déplacer le résultat">
                                                                                <i class="fa icon-share-alt fa-lg"></i>
                                                                            </a>
                                                                            <a class="btnRename@(Model.UniversType) adExpress-tools" data-toggle="modal" data-id="@univers.Id" data-directory-id="@item.Id">
                                                                                <i class="fa fa-pencil fa-lg"></i>
                                                                            </a>
                                                                            <a class="btnDelete@(Model.UniversType) adExpress-tools" data-id="@univers.Id" data-directory-id="@item.Id">
                                                                                <i class="fa fa-trash-o fa-lg"></i>
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                        }
                                        else
                                        {
                                            <h3 class="panel-title text-center">
                                                <span>@Model.Labels.NoSavedUnivers</span>
                                            </h3>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div id="move@(Model.UniversType)" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-kantar-popup">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="font-normal m-t-none m-b-md text-primary-lt"> @Model.Labels.MoveResultTitle </h4>
            </div>
            <div class="modal-body">
                <div class="input-group-btn dropdown" dropdown="">
                    <button id="result" type="button" class="btn btn-default form-control bg-black-only id@(Model.UniversType)"
                            data-result="@Model.UniversGroups.FirstOrDefault().Id"
                            data-toggle="dropdown">
                        @Model.UniversGroups.FirstOrDefault().Description
                    </button>
                    <ul class="dropdown-menu bg-blue form-control">
                        @foreach (var item in Model.UniversGroups)
                        {
                            if (item == Model.UniversGroups.FirstOrDefault())
                            {
                                <li id="default" hidden><a data-id="@item.Id">@item.Description</a></li>
                            }
                            else
                            {
                                <li id="@item.Id"><a data-id="@item.Id">@item.Description</a></li>
                            }
                        }
                    </ul>
                    <p></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-valider" id="btnMove@(Model.UniversType)" data-dismiss="modal">@Model.Labels.Submit</button>
            </div>
        </div>
    </div>
</div>
<div id="rename@(Model.UniversType)" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-kantar-popup">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="font-normal m-t-none m-b-md text-primary-lt">@Model.Labels.RenameFolderTitle</h4>
            </div>
            <div class="modal-body">
                <p> @Model.Labels.RenameSelectedFolder</p>
                <input type="text" class="form-control" id="new@(Model.UniversType)Name" placeholder="Entrez un nom">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-valider" id="btnRename@(Model.UniversType)" data-dismiss="modal">@Model.Labels.Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="create@(Model.UniversType)Directory" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-kantar-popup">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="font-normal m-t-none m-b-md text-primary-lt">@Model.Labels.CreateDirectory</h4>
            </div>
            <div class="modal-body">
                <p> @Model.Labels.RenameSelectedFolder</p>
                <input type="text" class="form-control" id="newDirectory@(Model.UniversType)Name" placeholder="Entrez un nom">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-valider" id="btnValidCreate@(Model.UniversType)Directory" data-dismiss="modal">@Model.Labels.Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="rename@(Model.UniversType)Directory" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-kantar-popup">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="font-normal m-t-none m-b-md text-primary-lt">@Model.Labels.RenameFolderTitle </h4>
            </div>

            <div class="modal-body">
                <div class="input-group-btn dropdown" dropdown="">
                    <button id="result" type="button" class="btn btn-default form-control bg-black-only idRename@(Model.UniversType)Directory"
                            data-result="@Model.UniversGroups.FirstOrDefault().Id"
                            data-toggle="dropdown">
                        @Model.UniversGroups.FirstOrDefault().Description
                    </button>
                    <ul class="dropdown-menu bg-blue form-control">
                        @foreach (var item in Model.UniversGroups)
                        {
                            if (item == Model.UniversGroups.FirstOrDefault())
                            {
                                <li id="default" hidden><a data-id="@item.Id">@item.Description</a></li>
                            }
                            else
                            {
                                <li id="@item.Id"><a data-id="@item.Id">@item.Description</a></li>
                            }
                        }
                    </ul>
                    <p></p>
                </div>

                <p> @Model.Labels.RenameSelectedFolder</p>
                <input type="text" class="form-control" id="new@(Model.UniversType)DirectoryName" placeholder="Entrez un nom">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-valider" id="btnValidRename@(Model.UniversType)Directory" data-dismiss="modal">@Model.Labels.Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="drop@(Model.UniversType)Directory" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-kantar-popup">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="font-normal m-t-none m-b-md text-primary-lt"> @Model.Labels.DropDirectory </h4>
            </div>
            <div class="modal-body">
                <div class="input-group-btn dropdown" dropdown="">
                    <button id="result" type="button" class="btn btn-default form-control bg-black-only idDrop@(Model.UniversType)Directory"
                            data-result="@Model.UniversGroups.FirstOrDefault().Id"
                            data-toggle="dropdown">
                        @Model.UniversGroups.FirstOrDefault().Description
                    </button>
                    <ul class="dropdown-menu bg-blue form-control">
                        @foreach (var item in Model.UniversGroups)
                        {
                            if (item == Model.UniversGroups.FirstOrDefault())
                            {
                                <li id="default" hidden><a data-id="@item.Id">@item.Description</a></li>
                            }
                            else
                            {
                                <li id="@item.Id"><a data-id="@item.Id">@item.Description</a></li>
                            }
                        }
                    </ul>
                    <p></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-valider" id="btnValidDrop@(Model.UniversType)Directory" data-dismiss="modal">@Model.Labels.Submit</button>
            </div>
        </div>
    </div>
</div>