@model  Km.AdExpressClientWeb.Models.Home.MyAdExpressViewModel
@using Kantar.AdExpress.Service.Core.Domain;
@{
    ViewBag.Title = "MyAdExpress";
    Layout = "~/Views/Shared/_LayoutMyAdExpress.cshtml";
    var _controller = "Home";
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-b-20">
        <h1 class=""><i class="icon-user blue"></i>&nbsp;@Model.PresentationModel.ModuleTitle</h1>
        <small class="">@Model.PresentationModel.ModuleDescription</small>
    </div>
</div>

<div class="row">
    @Html.HiddenFor(e => e.Labels.DeleteRequestMessageConfirmLabel)
    @Html.HiddenFor(e => e.Labels.DeleteUniversMessageConfirmLabel)
    @Html.HiddenFor(e => e.Labels.DeleteResultMessageConfirmLabel)
    @Html.HiddenFor(e => e.Labels.Success)
    <ul id="tab-myadexpress" class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#@(UniversType.Result)" data-toggle="tab">@Model.Labels.MyResults</a></li>
        <li role="presentation"><a href="#@(UniversType.Univers)" data-toggle="tab">@Model.Labels.UserUniversCode</a></li>
        @if (Model.IsMyAlertVisible)
        {
            <li role="presentation"><a href="#alertes" data-toggle="tab">@Model.Labels.AlertsCode</a></li>
        }
    </ul>
    <div id="tab-content-myadexpress" class="tab-content">

        @Html.Partial("MyAdExpressSavedResults", Model.SavedResults)

        @Html.Partial("MyAdExpressSavedResults", Model.SavedUnivers)

        @if (Model.IsMyAlertVisible)
        {
            @Html.Partial("MyAdExpressAlerts", Model);
        }

    </div>
</div>
<input type="hidden" id="current-url" value="/@_controller/MyAdExpress" />
@section scripts {
    @Scripts.Render("~/bundles/myAdExpress")
    @Scripts.Render("~/bundles/cookies")

    <script>
        createCookie("sortKey", "", 1);
        createCookie("sortOrder", "", 1);
    </script>
}
