@model List<Kantar.AdExpress.Service.Core.Domain.DetailLevel>
@using TNS.AdExpress.Domain.Translation;

<div>
    <a data-toggle="collapse" class="collapsed" href="#lvlperso">
        <div id="lvlPersoHeader" class="panel-heading" role="tab" id="headingOne">
            <h5 class="panel-title">
                @GestionWeb.GetWebWord(1896, ViewBag.SiteLanguage)
                <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
            </h5>
        </div>
    </a>
    <div id="lvlperso" data-toggle="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <div class="form-group">
                    @for (int i = 0; i < 3; i++)
                    {
                        <select id="l@(Model[i].level)Detail" class="form-control">
                            <option value="-1">--------</option>
                            @foreach (var item in Model[i].Items)
                            {
                                if (@item.IsSelected)
                                {
                                    <option value="@item.DetailLevel" selected>@item.Label</option>
                                }
                                else
                                {
                                    <option value="@item.DetailLevel">@item.Label</option>
                                }
                            }
                        </select>
                    }
            </div>
            <button id="submitLvl" class="pull-right btn btn-action">Valider</button>
        </div>
    </div>
</div>