@model Km.AdExpressClientWeb.Models.Insertions.InsertionViewModel
@{
    ViewBag.Title = "Insertions";
    Layout = "~/Views/Shared/_LayoutInsertionVersion.cshtml";
}

<link href="~/IgniteUI/css/structure/infragistics.css" rel="stylesheet" />
<link href="~/IgniteUI/css/themes/kantar/infragistics.theme.css" rel="stylesheet" />


<div class="row">
    <div class="panel panel-default panel-cotes">
        <div class="panel-heading">
            <h3><i class="fa fa-search-plus blue"></i>&nbsp;Insertions</h3>
            <span class="pull-right">
                <div id="PresentVehiclesLoader">
                    <img src="~/IgniteUI/css/structure/images/ui-anim_basic_16x16.gif" />
                </div>
                <ul id="PresentVehicles" class="nav panel-tabs" role="tablist">
                </ul>
            </span>
        </div>
        <div class="panel-heading second">
            <h5>
                Navigation par mois: Du
                <strong>@Model.DateBegin.ToString("dd/MM/yyy")</strong>
                au
                <strong>@Model.DateEnd.ToString("dd/MM/yyy")</strong>
            </h5>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">J</button>
                <button type="button" class="btn btn-default">F</button>
                <button type="button" class="btn btn-default">M</button>
                <button type="button" class="btn btn-default">A</button>
                <button type="button" class="btn btn-default">M</button>
                <button type="button" class="btn btn-default">J</button>
                <button type="button" class="btn btn-default">J</button>
                <button type="button" class="btn btn-default">A</button>
                <button type="button" class="btn btn-default">TOUS</button>
            </div>
        </div>

        <div class="panel panel-default third">
            <div class="panel-heading" role="tab" id="headingOne">
                <h5 class="panel-title"  data-toggle="collapse" data-target="#lvlperso">
                    Niveaux personnalisés
                </h5>
            </div>
            <div id="lvlperso" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Construction</label>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <br>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <br />
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form>
        <input name="ids" id="ids" type="hidden" value="@Model.datas[0]" />
        <input name="zoomDate" id="zoomDate" type="hidden" value="@Model.datas[1]" />
        <input name="idUnivers" id="idUnivers" type="hidden" value="@Model.datas[2]" />
        <input name="moduleId" id="moduleId" type="hidden" value="@Model.datas[3]" />
        <input name="idVehicle" id="idVehicle" type="hidden" value="@Model.datas[4]" />
    </form>

    <center>
        <div id="grid" style="font-size:12px !important;" class="hide">
        </div>
        <div id="gridLoader" class="hide">
            <center><img src="~/IgniteUI/css/structure/images/igLoadingSmall.gif" /></center>
        </div>
    </center>

    <!-- Modal HTML -->
    <div id="creativeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Spot Vidéo</h4>
                </div>
                <div class="modal-body">
                    <iframe id="creativeStream" width="100%" height="100%" src="" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/IgniteUI/js/i18n/infragistics-fr.js"></script>
    <script src="~/IgniteUI/js/infragistics.core.js"></script>
    <script src="~/IgniteUI/js/infragistics.lob.js"></script>


    <script id="colSpotTmpl" type="text/template">
       @* <i class="glyphicon glyphicon-music text-5x"></i>*@
       {{if ${Spot} != 'C_L' }} ${Spot} {{else}}
<a href='#creativeModal' data-toggle='modal' data-creative='http://adexpress.kantarmedia.fr/SpotsRadio/2016/MP3/2${Version}.MP3?autoplay=1'><i class='glyphicon glyphicon-music text-5x'></i></a> {{/if}}
    </script>


    <script>
        if (typeof jQuery === "undefined") { throw new Error("jQuery") }
        $(function () {

            //GESTION DES ACTIVES CSS
            $(".btn-group > .btn").click(function () {
                $(this).addClass("active").siblings().removeClass("active");
            });

            $("#grid").igTreeGrid({
                //dataSource: data,
                primaryKey: "Id",
                width: "100%",
                defaultColumnWidth: 200,
                avgRowHeight: 60,
                autoGenerateColumns: true
            });


            $('#period-display-type').selectpicker();
            var ds;
            var cols;
            var colsFixed;
            var needFixedColumns = false;
            var periodType = "Mois";

            var renderGrid = function (success, error) {
                if (success) {

                    $("#grid").igTreeGrid("destroy");
                    $("#gridLoader").addClass("hide");
                    $("#grid").removeClass("hide");
                    if (needFixedColumns) {
                        $("#grid").igTreeGrid({
                            dataSource: ds.dataView(),
                            columns: cols,
                            height: "530px",
                            autoGenerateColumns: false,
                            primaryKey: "ID",
                            foreignKey: "PID",
                            width: "1000px",
                            features: [
                                {
                                    name: "MultiColumnHeaders"
                                },
                                {
                                    name: "Paging",
                                    mode: "allLevels",
                                    pageSize: 25
                                },
                                {
                                    name: "ColumnFixing",
                                    fixingDirection: "left",
                                    columnSettings: colsFixed
                                }
                            ]
                        })
                    }
                    else {
                        $("#grid").igTreeGrid({
                            dataSource: ds.dataView(),
                            columns: cols,
                            height: "530px",
                            autoGenerateColumns: true,
                            primaryKey: "ID",
                            foreignKey: "PID",
                            features: [
                                {
                                    name: "MultiColumnHeaders"
                                },
                                {
                                    name: "Paging",
                                    mode: "allLevels",
                                    pageSize: 25
                                }
                            ]
                        })
                    }
                } else {
                    alert(error);
                }

            }

            function CallInsertionsResult(idVehicle) {

                var parameters = {
                    ids: $('#ids').val(),
                    zoomDate: $('#zoomDate').val(),
                    idUnivers: $('#idUnivers').val(),
                    moduleId: $('#moduleId').val(),
                    idVehicle: idVehicle
                };


                $.ajax({
                    url: '@Url.Action("InsertionsResult", "Insertions")',
                    contentType: "application/x-www-form-urlencoded",
                    type: "POST",
                    datatype: "json",
                    data: parameters,
                    error: function (xmlHttpRequest, errorText, thrownError) {
                        alert("Erreur");
                    },
                    success: function (data) {
                        if (data != null) {
                            dataTreeGrid = data.datagrid;
                            colsFixed = data.columnsfixed;
                            needFixedColumns = data.needfixedcolumns;

                            var schema = new $.ig.DataSchema("array", {
                                fields: data.schema
                            });

                            for (var i = 0; i < data.columns.length; i++) {
                                if (data.columns[i].headerText == "Spot")
                                {
                                    data.columns[i].template = "{{if ${Spot} != 'C_L' }} ${Spot} {{else}} <a href='#creativeModal' data-toggle='modal' data-creative='http://adexpress.kantarmedia.fr/SpotsRadio/2016/MP3/2${Version}.MP3?autoplay=1'><i class='glyphicon glyphicon-music text-5x'  ></i></a> {{/if}}"

                                }
                            }

                            cols = data.columns

                            ds = new $.ig.DataSource({
                                type: "json",
                                schema: schema,
                                dataSource: dataTreeGrid,
                                callback: renderGrid
                            });

                            ds.dataBind();
                        }
                    }
                });
            }


            function CallGetPresentVehicles() {

                var parameters = {
                    ids: $('#ids').val(),
                    idUnivers: $('#idUnivers').val(),
                    moduleId: $('#moduleId').val(),
                };

                $.ajax({
                    url: '@Url.Action("GetPresentVehicles", "Insertions")',
                    contentType: "application/x-www-form-urlencoded",
                    type: "POST",
                    datatype: "json",
                    data: parameters,
                    error: function (xmlHttpRequest, errorText, thrownError) {
                        alert("Erreur");
                    },
                    success: function (response) {
                        var active = false;

                        if (response != null) {
                            var data = JSON.parse(response);
                            var strHTML = "";
                            $.each(data, function (i, item) {
                                if (!active && (!$('#idVehicle').val() || 0 === $('#idVehicle').val())) {
                                    active = item[0];
                                }

                                if (active == item[i]) {
                                    strHTML += '<li class="active"><a data-target="#tab-1" role="tab" data-toggle="tab" aria-expanded="true" id="' + item[0] + '">' + item[1] + '</a></li>'
                                } else {
                                    strHTML += '<li><a data-target="#tab-1" role="tab" data-toggle="tab" aria-expanded="true" id="' + item[0] + '">' + item[1] + '</a></li>'
                                }

                                $('#PresentVehicles').append(strHTML);
                            });

                            $("#PresentVehiclesLoader").addClass("hide");
                            $("#PresentVehicles").removeClass("hide");

                            $("#gridLoader").removeClass("hide");
                            CallInsertionsResult(active);
                        }
                    }
                });
            }


            CallGetPresentVehicles();

            AutoPlayCreativeModal();
        });

        function AutoPlayCreativeModal() {


            /* Remove iframe src attribute on page load to
            prevent autoplay in background */
            $("#creativeStream").attr('src', '');

            /* Assign the initially stored url back to the iframe src
            attribute when modal is displayed */
            $("#creativeModal").on('shown.bs.modal', function (event) {
                var button = $(event.relatedTarget);// Button that triggered the modal
                var idCreative = button.data('creative'); // Extract info from data-* attributes
                //alert(url);
                var parameters = {                   
                    idVersion: idCreative,
                    idVehicle: $('#idVehicle').val()
                };
                $.ajax({
                      url: '@Url.Action("GetCreativePaths", "Insertions")',
                    contentType: 'application/json',
                    type: 'POST',
                    datatype: 'JSON',
                    data: parameters,
                    error: function (xmlHttpRequest, errorText, thrownError) {
                        alert("Erreur lors de la recuperation de url de la version");
                    },
                    success: function (response) {
                        if (response != null) {

                            var url = response.PathReadingFile;
                            var urlDowload = response.PathReadingFile;
                            if (url)
                            $("#creativeStream").attr('src', url);
                        }
                    }

                });
              
            });

            /* Assign empty url value to the iframe src attribute when
            modal hide, which stop the video playing */
            $("#creativeModal").on('hide.bs.modal', function () {
                $("#creativeStream").attr('src', '');
            });
        }
    </script>
}