@model List<string>

@{
    ViewBag.Title = "Insertions";
    Layout = "~/Views/Shared/_LayoutInsertionVersion.cshtml";
}
<link href="~/IgniteUI/css/structure/infragistics.css" rel="stylesheet" />
<link href="~/IgniteUI/css/themes/kantar/infragistics.theme.css" rel="stylesheet" />

<div class="row">
    <div class="container-full">
        <div class="panel-heading" style="background-color:black; color:white; max-height:70px;">
            <h5><span style="font-size:24px"><i class="fa fa-search-plus blue"></i>&nbsp; Insertions</span></h5>
            <ul id="PresentVehicles" class="pull-right nav panel-tabs" role="tablist"></ul>
        </div>
        <div id="HeaderLoader">
            <center><img src="~/IgniteUI/css/structure/images/ui-anim_basic_16x16.gif" /></center>
        </div>

        <div id="HeaderElmt" class="hide">
            <div id="subPeriodSelection" style="background-color:grey"></div>
            <div id="detailLevelItem" class="col-md-12 bg-orange" style="background-color:black; color:white;"></div>
        </div>

        <form>
            <input name="ids" id="ids" type="hidden" value="@Model[0]" />
            <input name="zoomDate" id="zoomDate" type="hidden" value="@Model[1]" />
            <input name="idUnivers" id="idUnivers" type="hidden" value="@Model[2]" />
            <input name="moduleId" id="moduleId" type="hidden" value="@Model[3]" />
            <input name="idVehicle" id="idVehicle" type="hidden" value="@Model[4]" />
        </form>
        <div class="col-md-12" style="margin-top:10px;">
            <center>
                <p id="gridEmpty" class="hide">Pas de donnees</p>
                <div id="grid" class="hide"></div>
                <div id="gridLoader" class="hide">
                    <img src="~/IgniteUI/css/structure/images/igLoadingSmall.gif" />
                </div>
            </center>
        </div>

    </div> <!-- /container full -->

    <!-- Modal HTML -->
    <div id="creativeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header-kantar-popup">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="font-normal" style="color:white;">Spot</h4>
                </div>
                <div class="modal-body">
                    <div class="media video-audio-container">
                        <iframe id="creativeStream" src="" frameborder="0" allowfullscreen></iframe>
                        <div id="mediaLoader">
                            <center><img src="~/IgniteUI/css/structure/images/ui-anim_basic_16x16.gif" /></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal zoom visuel -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="Visuel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header-kantar-popup">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
                    <h4 class="modal-title" id="myModalLabel">Visuel</h4>
                </div>
                <div class="modal-body">
                    <center><img src="" id="imagepreview"></center>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script src="~/IgniteUI/js/i18n/infragistics-fr.js"></script>
    <script src="~/IgniteUI/js/infragistics.core.js"></script>
    <script src="~/IgniteUI/js/infragistics.lob.js"></script>

    <script id="colSpotTmpl" type="text/template">
        {{if ${Spot}.startsWith('[') && ${Spot}.endsWith(']') }}
            <a href='#creativeModal' data-toggle='modal' data-creative="${Spot}"><i class='fa fa-play'></i></a>
        {{else}}
            ${Spot}
        {{/if}}
    </script>
    <script id="colVisuTmpl" type="text/template">
        {{if ${Visu}.startsWith('[') && ${Visu}.endsWith(']') }}
            <!-- Slider -->
            <div class="row">
                <div id="visuCarou" datavisu="${Visu}" class="carousel slide col-md-3" style="margin-bottom:10px;" >
                    <div class="carousel-inner" role="listbox"></div>

                    <a class="left carousel-control">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Precedent</span>
                    </a>
                    <a class="right carousel-control">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </div>
                <div class="infos col-md-5"></div>
            </div>
        {{else}}
            ${Visu}
        {{/if}}
    </script>
    <script>
        if (typeof jQuery === "undefined") { throw new Error("No jQuery") }

            //GESTION DES ACTIVES CSS
            //$(".btn-group > .btn").click(function () {
            //    $(this).addClass("active").siblings().removeClass("active");
            //});

            $("#grid").igTreeGrid({
                //dataSource: data,
                primaryKey: "Id",
                width: "95%",
                defaultColumnWidth: 200,
                avgRowHeight: 60,
                autoGenerateColumns: true
            });
            

            var ds;
            var cols;
            var colsFixed;
            var needFixedColumns = false;
            var periodType = "Mois";

            function GenericDetailLevelFilter() {
                this.L1DetailValue = -1;
                this.L2DetailValue = -1;
                this.L3DetailValue = -1;
            }

            function UserFilter() {
                this.GenericDetailLevelFilter = new GenericDetailLevelFilter();
            }

            var userFilter = new UserFilter();


            var renderGrid = function (success, error) {
                if (success) {

                    $("#grid").igTreeGrid("destroy");
                    $("#gridLoader").addClass("hide");
                    $("#grid").removeClass("hide");
                    if (needFixedColumns) {
                        $("#grid").igTreeGrid({
                            dataSource: ds.dataView(),
                            columns: cols,
                            height: "530px",
                            autoGenerateColumns: false,
                            primaryKey: "ID",
                            foreignKey: "PID",
                            width: "95%",
                            features: [
                                {
                                    name: "MultiColumnHeaders"
                                },
                                {
                                    name: "Paging",
                                    mode: "allLevels",
                                    pageSize: 25
                                },
                                {
                                    name: "ColumnFixing",
                                    fixingDirection: "left",
                                    columnSettings: colsFixed
                                }
                            ]
                        })
                    }
                    else {
                        $("#grid").igTreeGrid({
                            dataSource: ds.dataView(),
                            columns: cols,
                            height: "530px",
                            autoGenerateColumns: true,
                            primaryKey: "ID",
                            foreignKey: "PID",
                            width: "95%",
                            features: [
                                {
                                    name: "MultiColumnHeaders"
                                },
                                {
                                    name: "Paging",
                                    mode: "allLevels",
                                    pageSize: 25
                                }
                            ]
                        })
                    }
                } else {
                    alert("Error");
                }
            }

            function CallInsertionsResult(idV, zoomdt, vehicleChanged) {
                $("#gridEmpty").addClass("hide");
                var parameters = {
                    ids: $('#ids').val(),
                    zoomDate: zoomdt,
                    idUnivers: $('#idUnivers').val(),
                    moduleId: $('#moduleId').val(),
                    idVehicle: idV,
                    isVehicleChanged: vehicleChanged
                };

                $.ajax({
                    url: '@Url.Action("InsertionsResult", "Insertions")',
                    contentType: "application/x-www-form-urlencoded",
                    type: "POST",
                    datatype: "json",
                    data: parameters,
                    error: function (xmlHttpRequest, errorText, thrownError) {
                        alert("Erreur");
                    },
                    success: function (data) {
                        if (data != null && data != "") {
                            dataTreeGrid = data.datagrid;
                            colsFixed = data.columnsfixed;
                            needFixedColumns = data.needfixedcolumns;

                            var schema = new $.ig.DataSchema("array", {
                                fields: data.schema
                            });

                            cols = data.columns
                            for (i = 0; i < cols.length; i++) {
                                if (cols[i].key == "Spot")
                                    cols[i].template = $("#colSpotTmpl").html();
                                else if(cols[i].key == "Visu")
                                    cols[i].template = $("#colVisuTmpl").html();
                            }

                            ds = new $.ig.DataSource({
                                type: "json",
                                schema: schema,
                                dataSource: dataTreeGrid,
                                callback: renderGrid
                            });

                            ds.dataBind();
                        }
                        else {
                            $("#gridLoader").addClass("hide");
                            $("#gridEmpty").removeClass("hide");
                            $("#grid").addClass("hide");
                        }
                    }
                });
            }


            function CallGetPresentVehicles() {

                var parameters = {
                    ids: $('#ids').val(),
                    idUnivers: $('#idUnivers').val(),
                    moduleId: $('#moduleId').val(),
                };

                $.ajax({
                    url: '@Url.Action("GetPresentVehicles", "Insertions")',
                    contentType: "application/x-www-form-urlencoded",
                    type: "POST",
                    datatype: "json",
                    data: parameters,
                    error: function (xmlHttpRequest, errorText, thrownError) {
                        alert("Erreur");
                    },
                    success: function (response) {
                        if (response != null) {
                            var data = JSON.parse(response);
                            var strHTML = "";
                            var idV = data[0][0];
                            if (!(0 === $('#idVehicle').val()) && $('#idVehicle').val())
                                idV = $('#idVehicle').val();

                            $.each(data, function (i, item) {
                                if (idV == item[i]) {
                                    strHTML += '<li class="active"><a data-target="#tab-1" role="tab" data-toggle="tab" aria-expanded="true" id="' + item[0] + '">' + item[1] + '</a></li>'
                                } else {
                                    strHTML += '<li><a data-target="#tab-1" role="tab" data-toggle="tab" aria-expanded="true" id="' + item[0] + '">' + item[1] + '</a></li>'
                                }
                            });
                            $('#PresentVehicles').html(strHTML);
                            $('#idVehicle').val(idV.toString());

                            $("#HeaderLoader").addClass("hide");
                            $("#HeaderElmt").removeClass("hide");
                            $("#gridLoader").removeClass("hide");

                            CallInsertionsResult(idV, '', true);
                            GetDetailLevelItem(idV);
                        }
                    }
                });
            }


            function GetSubPeriodSelection(zoomDateParam) {
                var params = {
                    zoomDate: zoomDateParam
                };
                $.ajax({
                    url: '@Url.Action("SubPeriodSelection", "MediaSchedule")',
                    contentType: "application/x-www-form-urlencoded",
                    type: "POST",
                    data: params,
                    error: function (xmlHttpRequest, errorText, thrownError) {
                    },
                    success: function (data) {
                        if (data != null) {
                            $('#subPeriodSelection').html(data);
                            $('#allSubPeriod').removeClass("hidden");
                            $("#leave-zoom").addClass("hide");
                            $(".sub-period-btn").on('click', function (e) {
                                $(".btn-default-sub-period").prop('disabled', false);
                                $(".btn-default-sub-period").attr('class', 'btn btn-default sub-period-btn');
                                $(this).attr('class', 'btn btn-default-sub-period sub-period-btn');
                                $(this).prop('disabled', true);
                                $("#grid").addClass("hide");
                                $("#gridLoader").removeClass("hide");
                                CallInsertionsResult($('#idVehicle').val(),$(this).attr("period"),false);
                            });
                            $(".sub-period-btn").on('mouseenter', function (e) {
                                previousSubPeriodLabel = $(".btn-default-sub-period").attr("periodlabel");
                                $("#subPeriodLabel").text($(this).attr("periodlabel"));
                            });
                            $(".sub-period-btn").on('mouseleave', function (e) {
                                $("#subPeriodLabel").text(previousSubPeriodLabel);
                            });
                        }
                    }
                });
            }

            function GetDetailLevelItem(idV) {
                var params = {
                    idVehicle: idV
                };
                $.ajax({
                    url: '@Url.Action("GetDetailLevel", "Insertions")',
                    contentType: "application/x-www-form-urlencoded",
                    type: "POST",
                    data: params,
                    error: function (xmlHttpRequest, errorText, thrownError) {
                    },
                    success: function (data) {
                        if (data != null) {
                            $('#detailLevelItem').html(data);
                        }
                    },
                    error: function (xmlHttpRequest, errorText, thrownError) {
                        alert("detailLevel error")
                    }
                });
            }


            function AutoPlayCreativeModal() {

                $("#creativeStream").attr('src', '');

                $("#creativeModal").on('shown.bs.modal', function (event) {
                    var button = $(event.relatedTarget);// Button that triggered the modal
                    var datas = button.data('creative').toString(); // Extract info from data-* attributes
                    datas = datas.replace(/\[|\]/g, '');
                    datas = datas.split(",");

                    if (datas[0] === null || datas[0] == "" || datas[0] == 0 || datas[0] == "0") {
                        alert("Les fichiers média ne sont pas disponibles.");
                    }
                    else {
                        var parameters = {
                            idVersion: datas[0],
                            idVehicle: datas[2]
                        };
                        $.ajax({
                            url: '@Url.Action("GetCreativePath", "Insertions")',
                            contentType: "application/x-www-form-urlencoded",
                            type: 'POST',
                            datatype: 'JSON',
                            data: parameters,
                            error: function (xmlHttpRequest, errorText, thrownError) {
                                alert("Erreur lors de la recuperation de url de la version");
                            },
                            success: function (response) {
                                if (response != null) {
                                    var url = "http://adexpress.kantarmedia.fr/" + response.PathReadingFile;
                                    var urlDowload = response.PathDownloadingFile;
                                    if (url) {
                                        $("#creativeStream").attr('src', url);
                                        $('#creativeModal h4').text("Spot");
                                        $("#mediaLoader").addClass("hide");
                                    }
                                }
                            }
                        });
                    }
                });

                $("#creativeModal").on('hide.bs.modal', function () {
                    $("#creativeStream").attr('src', '');
                    $("#mediaLoader").removeClass("hide");
                });
            }


            function AutoPlayVisu() {
                $("div[datavisu]").each(function (index) {
                    var datas = $(this).attr('datavisu').toString();
                    $(this).attr("id", "visuCarou" + index);
                    var active = "active";
                    datas = datas.split('],[');
                    visus = datas[0].replace(/\[|\]/g, '').split(",");
                    infos = datas[1].replace(/\[|\]/g, '').split(";");
                    if (visus.length > 1) {
                        for (i = 0; i < visus.length; i++) {
                            if (i != 0) active = "";
                            $(this).find(".carousel-inner").prepend('<div class="item ' + active + '" ><center><img id="pop" style="max-height:200px;" src="http://adexpress.kantarmedia.fr/' + visus[i] + '" /></center></div>')
                        }
                    } else {
                        $(this).attr("id", "visu");
                        $(this).html('<center><img id="pop" style="max-height:200px;" src="http://adexpress.kantarmedia.fr/' + visus[0] + '" /></center>')
                    }
                    for (j = infos.length - 1; j >= 0; j--) {
                        if (infos[j] != "" && (infos[j].indexOf(":") >= 0) ){
                            tmp = infos[j].split(":");
                            $(this).next().prepend('<div style="width:100%"><span style="display:inline-block;min-width:100px;">' + tmp[0] + '</span> : ' + tmp[1] + '</div>')
                        }
                    }
                });
            }

            function CallSetDetailLvl() {
                $.ajax({
                    url: '@Url.Action("SetDetailLevel", "Insertions")',
                    contentType: "application/x-www-form-urlencoded",
                    type: "POST",
                    datatype: "json",
                    data: userFilter,
                    error: function (xmlHttpRequest, errorText, thrownError) {
                    },
                    success: function (data) {
                        CallInsertionsResult($('#idVehicle').val(), '',false);
                    }
                });
            }



        CallGetPresentVehicles();
        GetSubPeriodSelection('');
        AutoPlayCreativeModal();


        //** Important charge les images au fur et a mesure que le teableau s'affiche
        $("#grid").on("igtreegridrowsrendered igtreegridrowexpanding igtreegridrowcollapsing", function (evt, ui) {
            AutoPlayVisu();

            $(".carousel").each(function (index) {
                $("#visuCarou" + index.toString()).carousel("pause");
                $("#visuCarou" + index.toString()).find('.left').click(function () {
                    $("#visuCarou" + index.toString()).carousel("prev");
                });
                $("#visuCarou" + index.toString()).find('.right').click(function () {
                    $("#visuCarou" + index.toString()).carousel("next");
                });
            });

        });


        //OnChange Vehicle
        function getEventTarget(e) {
            e = e || window.event;
            return e.target || e.srcElement;
        }
        $(document).on("click", "#PresentVehicles li a", function () {
            $("#grid").addClass("hide");
            $("#gridLoader").removeClass("hide");
            $('#idVehicle').val($(this).attr('id'));
            CallInsertionsResult($(this).attr('id'), '', true);
            GetDetailLevelItem($(this).attr('id'));
        });


        function ResetLnLevel(lx, ly) {
            if ($(lx).val() == $(ly).val())
                $(ly).val('-1');
        }

        //Zoom visuel
        $(document).on("click", "#pop", function () {
            $('#imagepreview').attr('src', $(this).attr('src'));
            $('#imagemodal').modal('show');
        });

        $(document).on("change", "#l1Detail", function (e) {
            userFilter.GenericDetailLevelFilter.L1DetailValue = $('#l1Detail').val();
            ResetLnLevel("#l1Detail", "#l2Detail");
            ResetLnLevel("#l1Detail", "#l3Detail");
        });
        $(document).on("change", "#l2Detail", function (e) {
            userFilter.GenericDetailLevelFilter.L2DetailValue = $('#l2Detail').val();
            ResetLnLevel("#l2Detail", "#l1Detail");
            ResetLnLevel("#l2Detail", "#l3Detail");
        });
        $(document).on("change", "#l3Detail", function (e) {
            userFilter.GenericDetailLevelFilter.L3DetailValue = $('#l3Detail').val();
            ResetLnLevel("#l3Detail", "#l1Detail");
            ResetLnLevel("#l3Detail", "#l2Detail");
        });

        //Changement de Level
        $(document).on("click", "#submitLvl", function (e) {
            $("#grid").addClass("hide");
            $("#gridLoader").removeClass("hide");
            CallSetDetailLvl();
        });

    </script>
}