@model Kantar.AdExpress.Service.Core.Domain.DetailSelectionDomain.DetailSelectionResponse

<div>
    <h4>DetailSelectionResponse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModuleLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleLabel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NiveauDetailLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NiveauDetailLabel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniteLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniteLabel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dates)
        </dd>

    </dl>
</div>
