<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
    @Styles.Render("~/lib/css")
    @Styles.Render("~/Content/css")


</head>

<body>
    <div class="app app-header-fixed kantar-bg0">
        <!-- header -->
        <header id="header" class="app-header navbar" role="menu">
            <!-- navbar collapse -->
            <div class="collapse pos-rlt navbar-collapse box-shadow bg-black-only">
                <!-- nabar right -->
                <div class="logotype">
                    <a href="#/" class="header-brand">
                        <span class="text-info font-bold">AdExpress</span>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="#">
                            <i class="glyphicon glyphicon-th txt-nav"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-user icon txt-nav"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-comment icon txt-nav"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
                            <span class="hidden-sm txt-nav">FR</span> <i class="fa fa-fw fa-angle-down text-muted "></i>
                        </a>
                        <!-- dropdown -->
                        <ul class="dropdown-menu animated fadeInRight w bg-primary">
                            <li>
                                <a href="#">
                                    <span>FR</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">UK</a>
                            </li>
                            <li>
                        </ul>
                    </li>
                    <li>
                        <!--
                        <a href="#">
                            <i class="fa fa-power-off txt-nav "></i>
                        </a>
                        -->
                    </li>
                </ul>
                <!-- / navbar right -->
            </div>
            <!-- / navbar collapse -->
        </header>
        <!-- / header -->

        <!-- content -->
        <div id="content" class="app-content" role="main">
            <div class="app-content-body ">
                <div class="hbox hbox-auto-xs hbox-auto-sm">
                    <!-- main -->
                    <div class="col">
                        <!-- main header -->
                        <!-- / main header -->
                        <div class="wrapper-md">

                                @RenderBody()

                    </div>
                    <!-- / main -->
                </div>
            </div>
        </div>
        <!-- /content -->
            <!-- footer -->
            <footer id="footer" class="app-footer fixe" role="footer">
                <div class="wrapper bg-black-only">
                    <a href="#" class="footer-brand">
                        <span class="pull-right"> <img src="~/Content/img/logo_kantarmedia.png" alt="Ad Express - Kantar Media"></span>
                    </a>
                    <span class="text-xs">&copy; 2016 Copyright KANTAR MEDIA.</span>
                </div>
            </footer>
            <!-- / footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
