@using Km.AdExpressClientWeb.Models;
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="page-header-custom">
            <h1><strong>AdExpress </strong> bla bla bla</h1>
            <h1><small>AdExpress en quelques chiffres</small></h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <a class="fig">
                1347
                <span><br />MARQUES</span>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <a class="fig">
                2400
                <span><br />PRODUITS</span>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <a class="fig">
                170
                <span><br />PLAN M&Eacute;DIA</span>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 ">
        <div class="panel panel-default login">
            <div class="panel-heading">
                <img src="../Content/img/logo_kantarmedia.png" class="img-responsive" alt="Ad Express - Kantar Media">
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , placeholder = "Utilisateur" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "mot de passe" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>                  
                    <div class="form-group padding-top-15">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-orange btn-sm btn-block">
                                Accéder
                            </button>
                        </div>
                    </div>
                    <div class="form-group padding-top-15">
                        <div class="col-sm-12">
                            <h5>+ Pas encore client?</h5>
                        </div>
                        <div class="col-sm-12">
                            @Html.ActionLink("Demander votre accès", "ForgotPassword", null, new { @class = "btn btn-blue btn-sm btn-block" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
