@using Km.AdExpressClientWeb.Models;
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutPublic2.cshtml";
}

<!--Start New version -->

<div class="ui-widget">
    @Html.ValidationSummary(true, "", new { @class = "ui-state-error ui-corner-all", style = "padding: 0 .7em" })
</div>

<div id="login_component">
    <div id="loginwidget">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "formLogin" }))
        {
            @Html.AntiForgeryToken()

            <div class="loginbox_container">
                <div id="usrn">
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input", placeholder = Model.Labels.UserName, id = "username", autocomplete = "off", tabindex = "1" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="loginbox_container">
                <div id="pswd">
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "input", placeholder = Model.Labels.Password, id = "pwd", autocomplete = "off", tabindex = "3" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="loginbox_container">
                <input id="signin" type="submit" value="@(Model.Labels.SignIn)" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false" tabindex="3">
            </div>
            <div id="forgot" class="loginbox_container">
                <span>   </span>
                <div class="forgotcontact">
                    @Model.Labels.AccountFindOutMoreLabel
                    <a href="@Url.Action("Index", "Contact", new {siteLanguage = Model.SiteLanguage})">
                        @Model.Labels.FindOutMoreLabel
                    </a>

                </div>
            </div>
            <input type="hidden" id="current-site-language" name="SiteLanguage" value="@Model.SiteLanguage" />
        }
            </div>

</div>

<!--End New version -->


@Html.HiddenFor(e => e.ErrorMessage)

<input type="hidden" id="current-url" value="/Account/Login" />



@section Scripts {
    @Scripts.Render("~/bundles/account")

}
