@model Km.AdExpressClientWeb.Models.Shared.MediaSelectionViewModel

@{
    ViewBag.Title = "MediaSelection";
    var array = @Html.Raw(Json.Encode(Model.ErrorMessage));
    var _controller = Model.NavigationBar.First().Controller;
}
<div class="row">
    @Html.HiddenFor(e => e.Dimension)
    @Html.HiddenFor(e => e.Multiple)
    @Html.Partial("Presentation", Model.Presentation)
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
        @Html.Partial("NavigationBar", @Model.NavigationBar)
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
        @Html.HiddenFor(e => e.Labels.ErrorNoSupport)
        @Html.HiddenFor(e => e.Labels.ErrorOnlyOneItemAllowed)
        @Html.HiddenFor(e => e.Labels.ErrorMediaSelected)
        @Html.HiddenFor(e => e.Labels.ErrorMessageLimitUniverses)
        @Html.HiddenFor(e => e.Labels.ErrorMininumInclude)
        @Html.HiddenFor(e => e.Labels.CurrentController)
        @foreach (int i in Model.IdMediasCommon)
        {
            <input type="hidden" name="HiddenIntList" value="@i" />
        }
        <div class="panel-group panel-group-results" id="media-accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary panel-results">
                <div class="panel-heading head-results" role="tab" id="headingOne">
                    <h3 class="panel-title pull-left">
                        <a role="button" data-toggle="collapse" data-parent="#media-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-eye"></i> Sélection des médias
                        </a>
                    </h3>
                    @if (Model.Multiple)
                    {
                        <span class="pull-right">
                            <small class="v-super">Pré-sélection &nbsp; </small>
                            <label class="i-switch" id="switch">
                                <input type="checkbox" for="switch" id="preselection">
                                <i></i>
                            </label>
                        </span>
                    }
                    <div class="clearfix"></div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @foreach (var item in Model.Medias)
                        {
                            if (!item.Disabled)
                            {
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                    <div class="block margin-b-20 padder-v bg-black-only tuile-medias text-center" data-attr-id="@item.Id">
                                        <div class="top text-center w-full">
                                            <i class="fa @item.icon m-r-sm"></i>
                                        </div>
                                        <div class="h5 font-normal h5">@item.Label</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                    <div class="block margin-b-20 padder-v bg-black-only tuile-medias text-center disabled-effect">
                                        <div class="top text-center w-full">
                                            <i class="fa @item.icon m-r-sm"></i>
                                        </div>
                                        <div class="h5 font-normal h5">@item.Label</div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-primary panel-results">
                <div class="panel-heading head-results" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#media-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-search"></i> @Model.Labels.Refine
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row bg-black-only">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
                                        <h4 class="pull-left"><i class="fa fa-quote-left"></i>&nbsp;@Model.Labels.KeyWordLabel </h4>
                                        <h5 class="pull-right"> @Model.Labels.KeyWordDescription</h5>
                                        <div class="clearfix"></div>
                                        <div class="input-group">
                                            <input id="keyword" type="text" class="form-control recherche" placeholder="Recherche">
                                            <div class="input-group-btn dropdown" dropdown="">
                                                <button id="branch" type="button" class="btn btn-default select-recherche"
                                                        data-branch="@Model.Branches.FirstOrDefault(p => p.IsSelected).Id"
                                                        data-toggle="dropdown">
                                                    @Model.Branches.FirstOrDefault(p => p.IsSelected).Label
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu bg-blue">
                                                    @foreach (var item in Model.Branches)
                                                    {
                                                        if (item.IsSelected)
                                                        {
                                                            <li id="default" hidden><a data-id="@item.Id">@item.Label</a></li>
                                                        }
                                                        else
                                                        {
                                                            <li id="@item.Id"><a data-id="@item.Id">@item.Label</a></li>
                                                        }
                                                    }
                                                </ul>
                                                <button class="btn btn-default btn-recherche" type="button"><i class="fa fa-search blue "></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <div class="panel  panel-marche">
                                            <div class="panel-heading-choix">
                                                <h4 class="panel-title"><i class="fa fa-list-ul"></i>&nbsp; @Model.Labels.Results</h4>
                                            </div>
                                            @foreach (var item in Model.Branches)
                                            {
                                                <div id="branch@(item.Id)" class="universes" style="display:none">
                                                    @foreach (var level in item.UniversLevels)
                                                    {
                                                        <div id="groupSelectable@(level.Id)" data-label="@(level.Label)"
                                                             data-universe="@(level.Id)" data-branch="@(item.Id)" class="panel panel-default">
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="btn-marche text-center">
                                            <a id="move-item" class="btn btn-green2 btn-circle btn-xl">
                                                <i class="fa fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">


                                        <div class="panel-heading-choix nav-tabs-alt">
                                            <ul class="nav nav-tabs" role="tablist">
                                                @foreach (var tree in Model.Trees)
                                                {
                                                    <li @(tree == Model.Trees.First() ? "class=active" : "" )>
                                                        <a data-target="#tab-@(tree.Id)"
                                                           data-tab="@(tree.Id)"
                                                           role="tab"
                                                           data-toggle="tab"
                                                           aria-expanded="true">
                                                            @tree.Label
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            @{
                                                var multi = "active in";
                                            }
                                            @foreach (var tree in Model.Trees)
                                            {
                                                <div role="tabpanel"
                                                     class="tab-pane @(tree == Model.Trees.First() ? multi : "")"
                                                     id="tab-@(tree.Id)">
                                                    <div class="panel-group panel-group-results"
                                                         id="tree-@(tree.Id)"
                                                         data-access-type="@((int)tree.AccessType)"
                                                         role="tablist"
                                                         aria-multiselectable="true">
                                                        @foreach (var level in tree.UniversLevels)
                                                        {
                                                            <div class="panel panel-primary panel-results">
                                                                <div class="panel-heading head-results"
                                                                     role="tab"
                                                                     id="heading-@(level.Id)-@(tree.Id)">
                                                                    <h6 class="panel-title famille ">
                                                                        <a role="button"
                                                                           data-toggle="collapse"
                                                                           data-parent="#tree-@(tree.Id)"
                                                                           href="#collapse-@(level.Id)-@(tree.Id)"
                                                                           aria-expanded="true"
                                                                           aria-controls="collapse-@(level.Id)">
                                                                            @level.Label
                                                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                                                        </a>
                                                                    </h6>
                                                                </div>
                                                                <div id="collapse-@(level.Id)-@(tree.Id)"
                                                                     class="panel-collapse collapse"
                                                                     role="tabpanel"
                                                                     aria-labelledby="heading-@(level.Id)">
                                                                    <div class="panel-body" data-tree="@(tree.Id)" data-level="@(level.Id)">
                                                                        <ul class="items-famille"></ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="pull-right">
                                                        <button type="button" class="tout-suppr"><span>@Model.Labels.DeleteAll</span>&nbsp;<i class="fa fa-times-circle red text-based"></i></button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
            <input id="btnSubmitMediaSelection" type="submit" value="Valider" class="btn btn-default btn-valider pull-right" />
        </div>

    </div>
</div>

@section scripts {
      @Scripts.Render("~/bundles/portfolio-media")
}