@model Km.AdExpressClientWeb.Models.Contact.ContactViewModel
@{
    Layout = "~/Views/Shared/_LayoutContact.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class=""><i class="glyphicon glyphicon-comment"></i>&nbsp;@Model.PresentationModel.ModuleTitle</h1>
        <small class="">@Model.PresentationModel.ModuleDescription</small>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <h3><i class="fa fa-pencil fa-lg"></i>&nbsp;@Model.Labels.WriteToUs </h3>
        <div class="bg-contact">
            @using (Html.BeginForm("ContactUs", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    @Html.TextBoxFor(e => e.Company, new { @class = "form-control", placeholder = @Model.Labels.CompanyDescription })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(e => e.Name, new { @class = "form-control", placeholder = @Model.Labels.NameDescription })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(e => e.JobTitle, new { @class = "form-control", placeholder = @Model.Labels.TitleLabel })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(e => e.PhoneNumber, new { @class = "form-control", placeholder = @Model.Labels.PhoneNumberDescription })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(e => e.Mail, new { @class = "form-control", placeholder = @Model.Labels.MailDescription })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(e => e.Country, new { @class = "form-control", placeholder = @Model.Labels.CountryDescription })
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(x => x.QuestionTag, Model.QuestionsTagItem, @Model.Labels.QuestionTagDefault, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(e => e.Comment, new { @class = "form-control", placeholder = @Model.Labels.CommentDescription, rows = "5" })
                </div>
                <button type="submit" class="btn btn-default pull-right">@Model.Labels.Submit</button>
                <div class="clearfix"></div>
            }
        </div>
    </div>
    <div class="col-lg-4">
        <h3><i class="fa fa-phone fa-lg"></i>&nbsp;@Model.Labels.CallUs </h3>
        <div class="bg-contact">
            <div class="membres-icon">
                <i class="fa fa-headphones fa-3x green-contact"></i>
            </div>
            <div class="text-center">
                <h4>@Model.Labels.ClientService</h4>
                <div class="member-line"></div>
                <div><span class="green-contact">@Model.ClientServicePhoneNumber</span></div>
                <div><span class="green-contact">@Model.ClientServiceEmail</span></div>
                @*<div><span class="green-contact">01 30 74 87 78</span></div>
                <div><span class="green-contact">sc.adexpress@kantarmedia.com</span></div>*@
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="current-url" value="/Contact/Index" />

@section scripts {
    @Scripts.Render("~/bundles/cookies")

    <script>
        createCookie("sortKey", "", 1);
        createCookie("sortOrder", "", 1);
    </script>
}