@model Km.AdExpressClientWeb.Models.Alert.CreateAlertModel

<div id="createAlert">
    <div class="modal-header header-kantar-popup">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="font-normal m-t-none m-b-md text-primary-lt">@Model.Labels.SaveAlert2</h4>
    </div>
    <div class="modal-body">
        <div class="modal-body panel-group panel-univers-select">
            <ul>
                <li>
                    <div id="alertTitle" class="form-group">
                        <label class="control-label col-sm-6 col-sm-6 popup-text" for="alertTtile">@Model.Labels.FileName</label>
                        <div class="col-sm-6 col-md-6">
                            @Html.TextBoxFor(p => p.Title, new { @class = "form-control", @id = "alertTitle" })
                        </div>
                    </div>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <div id="userEmail" class="form-group">
                        <label class="control-label col-sm-6 col-sm-6 popup-text" for="userEmail">@Model.Labels.Email</label>
                        <div class="col-sm-6 col-md-6">
                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control", @id = "email" })
                        </div>
                    </div>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <div id="alertInfoMessage" class="form-group">
                        <label class="control-label col-sm-12 col-sm-12 popup-text" for="univers">@Model.Labels.AlertInfoMessage</label>                        
                    </div>
                </li>
            </ul>
        </div>

        <div class="modal-save-univers-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Model.Labels.Close</button>
            <button id="btnSaveAlert" type="button" class="btn btn-submit" data-dismiss="modal">@Model.Labels.Submit</button>
        </div>
    </div>
</div>

