@model Km.AdExpressClientWeb.Models.Shared.ResultsViewModel
@using TNS.AdExpress.Domain.Translation;
@using TNS.AdExpress.Domain.Web;
@{
    ViewBag.Title = "Results";
    var _controller = "NewCreatives";
    Layout = "~/Views/Shared/_LayoutResults.cshtml";
    var newCreativesResults = string.Format("/{0}/Results", _controller);
}

<link href="~/IgniteUI/css/structure/infragistics.css" rel="stylesheet" />
<link href="~/IgniteUI/css/themes/kantar/infragistics.theme.css" rel="stylesheet" />

<div class="row">
    @Html.Partial("Presentation", Model.Presentation)
    @Html.Partial("DetailSelection")
    @Html.Hidden("ExportController", "NewCreativesExport")
    @Html.HiddenFor(e => e.Labels.ResultError)
    @Html.HiddenFor(e => e.Labels.WarningBackNavigator)
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
        <div class="row row-sm">
            @Html.Partial("NavigationBar", Model.NavigationBar)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_ExportTypeResults", Model)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Action("ResultOptions", _controller)
    </div>
</div>
<div class="h20"></div>
<div class="row">
    <div class="col-md-12">
        <center>
            <p id="gridEmpty" style="display:none">@GestionWeb.GetWebWord(2106, Model.Presentation.SiteLanguage)</p>
            <div id="grid" class="hide">
            </div>
            <div id="gridLoader">
                <div class='uil-ring-css' style=''><div></div></div>
            </div>
        </center>
    </div>
</div>
<div id="alertModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="exportResultModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- Modal lien video radio -->
<div id="creativeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-kantar-popup">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="font-normal" style="color:white;"><i></i></h4>
            </div>
            <div class="modal-body">
                <div class="media video-audio-container">
                    <video id="creativeStream" class="hide" width="100%" controls="controls" preload="auto" autoplay>
                        Votre navigateur ne gère pas l'élément
                    </video>
                    <div id="mediaLoader">
                        <center><img src="~/IgniteUI/css/structure/images/ui-anim_basic_16x16.gif" /></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="current-url" value="@newCreativesResults" />
@Html.HiddenFor(e => e.Labels.Timeout)
@Html.HiddenFor(e => e.Labels.TimeoutBis)
@Html.HiddenFor(e => e.Labels.MaxAllowedRows)
@Html.HiddenFor(e => e.Labels.MaxAllowedRowsBis)
@Html.HiddenFor(e => e.Labels.MaxAllowedRowsRefine)
@section Scripts {
    @switch (Model.Presentation.SiteLanguage.ToString())
    {
        case TNS.AdExpress.Constantes.Web.CountryCode.FRANCE:
            <script src="~/IgniteUI/js/i18n/infragistics-fr.js"></script>
            <script src="~/IgniteUI/js/infragistics.core.js"></script>
            <script src="~/IgniteUI/js/infragistics.lob.js"></script>
            <script src="~/IgniteUI/js/modules/i18n/regional/infragistics.ui.regional-fr.js"></script>
            <script type="text/javaScript">$.ig.util.language = 'fr';</script>
            break;
        case TNS.AdExpress.Constantes.Web.CountryCode.UK:
            <script src="~/IgniteUI/js/infragistics.core.js"></script>
            <script src="~/IgniteUI/js/infragistics.lob.js"></script>
            <script src="~/IgniteUI/js/modules/i18n/regional/infragistics.ui.regional-en.js"></script>
            if (WebApplicationParameters.CountryCode == TNS.AdExpress.Constantes.Web.CountryCode.FINLAND)
            {
                <script src="~/IgniteUI/js/modules/i18n/regional/infragistics.ui.regional-fi.js"></script>
                <script type="text/javaScript">$.ig.util.language = 'fi';</script>
            }
            else
            {
                <script src="~/IgniteUI/js/modules/i18n/regional/infragistics.ui.regional-en.js"></script>
                <script type="text/javaScript">$.ig.util.language = 'en';</script>
            }
            break;
        case TNS.AdExpress.Constantes.Web.CountryCode.FINLAND:
            <script src="~/IgniteUI/js/infragistics.core.js"></script>
            <script src="~/IgniteUI/js/infragistics.lob.js"></script>
            <script src="~/IgniteUI/js/modules/i18n/regional/infragistics.ui.regional-fi.js"></script>
            <script type="text/javaScript">$.ig.util.language = 'fi';</script>
            break;
        case TNS.AdExpress.Constantes.Web.CountryCode.SLOVAKIA:
            <script src="~/IgniteUI/js/infragistics.core.js"></script>
            <script src="~/IgniteUI/js/infragistics.lob.js"></script>
            <script src="~/IgniteUI/js/modules/i18n/regional/infragistics.ui.regional-sk.js"></script>
            <script type="text/javaScript">$.ig.util.language = 'sk';</script>
            break;
        case TNS.AdExpress.Constantes.Web.CountryCode.TURKEY:
            <script src="~/IgniteUI/js/modules/i18n/infragistics.ui.grid-tr.js"></script>
            <script src="~/IgniteUI/js/infragistics.core.js"></script>
            <script src="~/IgniteUI/js/infragistics.lob.js"></script>
            break;
        default:
            <script src="~/IgniteUI/js/infragistics.core.js"></script>
            <script src="~/IgniteUI/js/infragistics.lob.js"></script>
            if (WebApplicationParameters.CountryCode == TNS.AdExpress.Constantes.Web.CountryCode.FINLAND)
            {
                <script src="~/IgniteUI/js/modules/i18n/regional/infragistics.ui.regional-fi.js"></script>
                <script type="text/javaScript">$.ig.util.language = 'fi';</script>
            }
            else
            {
                <script src="~/IgniteUI/js/modules/i18n/regional/infragistics.ui.regional-en.js"></script>
                <script type="text/javaScript">$.ig.util.language = 'en';</script>
            }
            break;
    }

    <script>
        $(document).ready(function () {

            if (typeof jQuery === "undefined") { throw new Error("jQuery") }

            // Set text for select picker
            $.fn.selectpicker.defaults = {
                all: '@GestionWeb.GetWebWord(201, Model.Presentation.SiteLanguage)',
                selectAllText: '@GestionWeb.GetWebWord(3252, Model.Presentation.SiteLanguage)',
                deselectAllText: '@GestionWeb.GetWebWord(3253, Model.Presentation.SiteLanguage)',
                noneSelectedText: '@GestionWeb.GetWebWord(3254, Model.Presentation.SiteLanguage)'
            };


            function AutoPlayCreativeModal() {
                $("#creativeStream").attr('src', '');

                $("#creativeModal").on('shown.bs.modal', function (event) {
                    $('#creativeModal h4 > i').attr("class", 'fa iconInsertionCreative iconInsertionCreative');
                    var button = $(event.relatedTarget);// Button that triggered the modal
                    var datas = button.data('creative').toString(); // Extract info from data-* attributes
                    datas = datas.replace(/\[|\]/g, '');
                    datas = datas.split(",");

                    if (datas[0] === null || datas[0] == "" || datas[0] == 0 || datas[0] == "0") {
                        alert("Les fichiers média ne sont pas disponibles.");
                    }
                    else {
                        var parameters = {
                            idVersion: datas[0],
                            idVehicle: datas[2]
                        };
                        $.ajax({
                            url: '@Url.Action("GetCreativePath", "Insertions")',
                            contentType: "application/x-www-form-urlencoded",
                            type: 'POST',
                            datatype: 'JSON',
                            data: parameters,
                            error: function (xmlHttpRequest, errorText, thrownError) {
                                alert("Erreur lors de la recuperation de url de la version");
                            },
                            success: function (response) {
                                if (response != null) {
                                    var url = response.PathReadingFile;
                                    var urlDownload = response.PathDownloadingFile;
                                    if (url) {
                                        $("#creativeStream").attr('src', url);
                                        $("#mediaLoader").addClass("hide");
                                        $("#creativeStream").removeClass("hide");
                                        $("#creativeStream").load();
                                    }
                                    if (urlDownload) {
                                        $("#creativeModal .modal-footer").removeClass("hide");
                                        $("#creativeModal .modal-footer > a").attr("href", urlDownload);
                                        //$("#creativeModal .modal-footer > a").attr("download", parameters.idVersion);
                                    }
                                }
                            }
                        });
                    }
                });

                $("#creativeModal").on('hide.bs.modal', function () {
                    $("#creativeStream").attr('src', '');
                    $("#creativeStream").addClass("hide");
                    $("#mediaLoader").removeClass("hide");
                    $("#creativeModal .modal-footer").addClass("hide");
                });
            }

            AutoPlayCreativeModal();
        });
    </script>

    <script id="colSpotTmpl" type="text/template">
        {{if ${869}.startsWith('[') && ${869}.endsWith(']') }}
        <a class="triggerModal" href='#creativeModal' data-toggle='modal' data-creative="${869}"><i class='fa iconInsertionCreative iconInsertionCreative'></i></a>
        {{else}}
        ${869}
        {{/if}}
    </script>

    @Scripts.Render("~/bundles/results")
    @Scripts.Render("~/bundles/newCreatives-results")
    @Scripts.Render("~/bundles/cookies")
}
