@model IEnumerable<Km.AdExpressClientWeb.Models.SocialMedia.KPIPageFacebookContract>



<div class="col-lg-12 col-md-12 col-sm-12">
    @*@foreach (var month in Model)
    {
        <div class="col-lg-4 text-center elmtsChart">
            @Html.Hidden(month.Month, null, new { @class = "monthRef" })
            @Html.Hidden(month.Comment.ToString(), null, new { @class = "commentRef" })
            @Html.Hidden(month.Like.ToString(), null, new { @class = "likeRef" })
            @Html.Hidden(month.Share.ToString(), null, new { @class = "shareRef" })
            @Html.Hidden(month.Post.ToString(), null, new { @class = "postRef" })
        </div>
    }*@

    <div class="col-lg-4 text-center elmtsChart">
        @Html.Hidden(string.Join(",", Model.Select(e => e.Month).ToList()), null, new { @class = "monthRef" })
        @Html.Hidden(string.Join(",", Model.Select(e => e.Comment).ToList()), null, new { @class = "commentRef" })
        @Html.Hidden(string.Join(",", Model.Select(e => e.Like).ToList()), null, new { @class = "likeRef" })
        @Html.Hidden(string.Join(",", Model.Select(e => e.Share).ToList()), null, new { @class = "shareRef" })
        @Html.Hidden(string.Join(",", Model.Select(e => e.Post).ToList()), null, new { @class = "postRef" })
        @Html.Hidden(string.Join(",", Model.Select(e => e.Expenditure).ToList()), null, new { @class = "expenditureRef" })
    </div>

</div>


<script id="LikeTooltipTemplate" type="text/x-ig-tmpl">
    <div class='ui-chart-tooltip'>
        <div>Likes: <label class='bold'>${item.Like}</label></div>
        <div>Month: <label class='bold'>${item.Month}</label></div>
    </div>
</script>

<script id="ShareTooltipTemplate" type="text/x-ig-tmpl">
    <div class='ui-chart-tooltip'>
        <div>Shares: <label class='bold'>${item.Share}</label></div>
        <div>Month: <label class='bold'>${item.Month}</label></div>
    </div>
</script>

<script id="CommentTooltipTemplate" type="text/x-ig-tmpl">
    <div class='ui-chart-tooltip'>
        <div>Comments: <label class='bold'>${item.Comment}</label></div>
        <div>Month: <label class='bold'>${item.Month}</label></div>
    </div>
</script>

<script id="ExpenditureTooltipTemplate" type="text/x-ig-tmpl">
    <div class='ui-chart-tooltip'>
        <div>Expenditure: <label class='bold'>${item.Expenditure}</label></div>
        <div>Month: <label class='bold'>${item.Month}</label></div>
    </div>
</script>

<script id="PostTooltipTemplate" type="text/x-ig-tmpl">
    <div class='ui-chart-tooltip'>
        <div>Posts: <label class='bold'>${item.Post}</label></div>
        <div>Month: <label class='bold'>${item.Month}</label></div>
    </div>
</script>


<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div style="background-color:rgba(0,0,0,0.3)" id="chartKPI">

        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div style="background-color:rgba(0,0,0,0.3)" id="chartExpenditure">

        </div>
    </div>
</div>
