@model Km.AdExpressClientWeb.Models.Shared.ResultsViewModel
@using TNS.AdExpress.Domain.Translation;
@{
    var _controller = "SocialMedia";
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_LayoutResults.cshtml";
}

<link href="~/IgniteUI/css/structure/infragistics.css" rel="stylesheet" />
<link href="~/IgniteUI/css/themes/kantar/infragistics.theme.css" rel="stylesheet" />


<div class="row">
    @Html.Partial("Presentation", Model.Presentation)
    @Html.Partial("DetailSelection")
    @Html.Hidden("ExportController", "SocialMediaExport")
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
        <div class="row row-sm">
            @Html.Partial("NavigationBar", Model.NavigationBar)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="custom-button selectexporttype select-universe-choice">
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.Partial("_ExportTypeResults", Model)
    </div>
</div>

@*<div class="h20">
    </div>*@
<div class="row">
    <div class="col-md-12">
        <center>
            <p id="gridEmpty" style="display:none">@Model.Labels.EmptyGrid</p>
            <div id="grid" class="hide">
            </div>
            <div id="gridLoader">
                <div class='uil-ring-css' style='transform:scale(0.54);'><div></div></div>
            </div>
        </center>
    </div>
</div>

<div class="row margin-top-30 margin-b-20">

    <div class="col-md-2 col-lg-2 col-sm-12">

        <div class="panel-group panel-group-results hide" id="KPIButtonFix">
            <div id="voletOptions" class="panel panel-primary panel-results">
                <a data-toggle="collapse" href="#accordOpt">
                    <div class="panel-heading head-results">
                        <h3 class="panel-title">
                            <i class="fa fa-filter"></i> Options
                        </h3>
                    </div>
                </a>
                <div id="accordOpt" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="unity" class="optionsChartContainer">
                                    <label for="unity">Unité</label>
                                    <select id="seriesType" class="selectdatepicker">
                                        <option value="like" selected="selected">Like</option>
                                        <option value="share">Share</option>
                                        <option value="comment">Comment</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 margin-top-10">
                                <div id="combo" class="optionsChartContainer">
                                    <label for="wombocombo">TOP 3 des posts</label>
                                    <select id="pageAdverBrandTypeCombo" class="selectdatepicker"></select>
                                </div>
                            </div>
                            <div class="col-md-12 margin-top-10">
                                <a id="exportCharts" class="btn btn-save-univers pull-right"><i class="fa fa-bar-chart"></i> Exporter</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-10 col-lg-10 col-sm-12">
        <div class="panel-group panel-group-results hide" id="resaccord">

            <div id="volet2" class="panel panel-primary panel-results">
                <a data-toggle="collapse" href="#accord2">
                    <div class="panel-heading head-results">
                        <h3 class="panel-title">
                            <i class="fa fa-bar-chart"></i> Sélections Référentes
                        </h3>
                    </div>
                </a>
                <div id="accord2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="Refer-chart">
                            <div class="mediaLoaderRefer">
                                <center><i style="color:#26caff;" class="fa fa-spinner fa-pulse fa-fw"></i></center>
                            </div>
                        </div>
                        <div id="PDM-chart">
                            @*<div class="mediaLoaderPDM">
                                    <center><i style="color:black;" class="fa fa-spinner fa-pulse fa-fw"></i></center>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div id="volet3" class="panel panel-primary panel-results">
                <a data-toggle="collapse" href="#accord3">
                    <div class="panel-heading head-results">
                        <h3 class="panel-title">
                            <i class="fa fa-line-chart"></i> Sélections Concurrentes
                        </h3>
                    </div>
                </a>
                <div id="accord3" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row margin-top-30" id="Concur-chart">
                            @*<div class="mediaLoaderConcur">
                                    <center><i style="color:black;" class="fa fa-spinner fa-pulse fa-fw"></i></center>
                                </div>*@
                        </div>
                        <div class="row" id="Stacked-chart">
                            <div class="mediaLoaderPlurimediaStacked">
                                <center><i style="color:#26caff;" class="fa fa-spinner fa-pulse fa-fw"></i></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="volet4" class="panel panel-primary panel-results">
                <a data-toggle="collapse" href="#accord4">
                    <div class="panel-heading head-results">
                        <h3 class="panel-title">
                            <i class="fa fa-line-chart"></i> Posts
                        </h3>
                    </div>
                </a>
                <div id="accord4" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row margin-top-30" id="top-post">
                            <div class="mediaLoaderTopPost">
                                <center><i style="color:#26caff;" class="fa fa-spinner fa-pulse fa-fw"></i></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <canvas id="exportCanvas" width="0" height="0" style="display:none;"></canvas>
</div>


<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="post-selected" hidden>

        </div>
    </div>
</div>
<div id="resultModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="alertModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<!-- Modal zoom post -->
<div class="modal fade text-center blo" id="postFacebookModal" tabindex="-1" role="dialog" aria-labelledby="postFacebook" aria-hidden="true">
    <div class="modal-dialog" style="width:95%;height:auto;">
        <div class="modal-content">
            <div class="modal-header header-kantar-popup">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
                <h4 class="modal-title" id="postFacebookModalTitle">@Model.Labels.FacebookModalTitle</h4>
            </div>
            <div id="mediaLoader">
                <center><i style="color:black;" class="fa fa-spinner fa-pulse fa-fw"></i></center>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<input type="hidden" id="current-url" value="/@_controller/Results" />

@section Scripts{
    <script src="~/IgniteUI/js/i18n/infragistics-fr.js"></script>
    <script src="~/IgniteUI/js/infragistics.core.js"></script>
    <script src="~/IgniteUI/js/infragistics.dv.js"></script>
    <script src="~/IgniteUI/js/infragistics.lob.js"></script>
    <script src="~/IgniteUI/js/modules/i18n/regional/infragistics.ui.regional-fr.js"></script>

    <script id="titleTmpl" type="text/template">
        {{if parseInt(${IdPage}) != 0}}
        <img class="imgPageFacebook" style="max-width:18px;" data-post="${IdPage}" src="" />
        {{/if}}
        ${PageName}
    </script>

    <script id="linkToPostTmpl" type="text/template">
        <center>
            <form id="${IdPageFacebook}" action="/SocialMedia/SocialMediaCreative" method="post" target="_blank">
                <input type="hidden" name="ids" value="${IdPageFacebook}" />
                <input type="hidden" name="type" value="0" />
                <a href="javascript:;" onclick="document.getElementById('${IdPageFacebook}').submit();">
                    <span class="fa fa-search-plus"></span>
                </a>
            </form>
        </center>
    </script>

    <script id="linkUrlTmpl" type="text/template">
        {{if ${Url} != "" }}
        <center>
            <a href="${Url}" target="_blank">
                <span class="fa fa-facebook-official"></span>
            </a>
        </center>
        {{/if}}
    </script>

    <script id="checkBoxTmpl" type="text/template">
        {{if parseInt(${IdPage}) != 0}}
        <center><input type="checkbox" disabled="disabled"></center>
        {{else}}
        <center><input type="checkbox"></center>
        {{/if}}
    </script>

    <script id="pageNameTmpl" type="text/template">
        {{if parseInt(${IdPage}) != 0}}
        <img class="imgPageFacebook" style="max-width:18px;" data-post="${IdPage}" src="" />
        {{/if}}
        <a class="pageNameFacebookLink" data-pagefb="${IdPageFacebook}" >${PageName}</a>
    </script>

    <script id="fanTmpl" type="text/template">
        <div class="numericAlignment">
            {{if parseInt(${NumberFan}) != 0}}
            ${NumberFan}
            {{/if}}
        </div>
    </script>
    

    <script id="LikeTooltipTemplate" type="text/x-ig-tmpl">
        <div><label class='bold'>${item.Like}</label> Like</div>
        <div>Mois: <label class='bold'>${item.Month}</label></div>
    </script>

    <script id="ShareTooltipTemplate" type="text/x-ig-tmpl">
        <div><label class='bold'>${item.Share}</label> Shares</div>
        <div>Mois: <label class='bold'>${item.Month}</label></div>
    </script>

    <script id="CommentTooltipTemplate" type="text/x-ig-tmpl">
        <div><label class='bold'>${item.Comment}</label> Comments</div>
        <div>Mois: <label class='bold'>${item.Month}</label></div>
    </script>

    <script id="ExpenditureTooltipTemplate" type="text/x-ig-tmpl">
        <div><label class='bold'>${item.Expenditure}</label> B€X</div>
        <div>Mois: <label class='bold'>${item.Month}</label></div>
    </script>

    <script id="PostTooltipTemplate" type="text/x-ig-tmpl">
        <div><label class='bold'>${item.Post}</label> Posts</div>
        <div>Mois: <label class='bold'>${item.Month}</label></div>
    </script>

    <script id="referentPDMTooltipTemplate" type="text/x-ig-tmpl">
        <div>Plurimedia Référents: <label class='bold'>${item.ReferentPercent}</label> %</div>
        <div>Mois: <label class='bold'>${item.Month}</label></div>
    </script>

    <script id="concurrentPDMTooltipTemplate" type="text/x-ig-tmpl">
        <div>Plurimedia Concurrents: <label class='bold'>${item.ConcurrentPercent}</label> %</div>
        <div>Mois: <label class='bold'>${item.Month}</label></div>
    </script>

    <script id="referentFaceBookPDMTooltipTemplate" type="text/x-ig-tmpl">
        <div>Facebook Référents: <label class='bold'>${item.ReferentFBPercent}</label> %</div>
        <div>Mois: <label class='bold'>${item.Month}</label></div>
    </script>

    @Scripts.Render("~/bundles/results")
    @Scripts.Render("~/bundles/socialMedia-results")
    @Scripts.Render("~/bundles/detail-selection")
}
