@model Km.AdExpressClientWeb.Models.SocialMedia.ResultsViewModel
@using TNS.AdExpress.Domain.Translation;
@{
    var _controller = "SocialMedia";
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_LayoutResults.cshtml";
}

<link href="~/IgniteUI/css/structure/infragistics.css" rel="stylesheet" />
<link href="~/IgniteUI/css/themes/kantar/infragistics.theme.css" rel="stylesheet" />


<div class="row">
    @Html.Partial("Presentation", Model.Presentation)
    @Html.Partial("DetailSelection")
    @Html.Hidden("ExportController", "SocialMediaExport")
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
        <div class="row row-sm">
            @Html.Partial("NavigationBar", Model.NavigationBar)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right custom-button selectexporttype">
            <select id="export-type" class="selectdatepicker hide">
                <option value="1"> @Model.Labels.ExportFormattedResult</option>
            </select>&nbsp;
            <button class="btn btn-save" id="btn-export"><i class="fa fa-file-excel-o fa-file-excel-size"></i></button>
            <button class="btn btn-save" id="btn-save-result" title="@Model.Labels.Save"><i class="glyphicon glyphicon-floppy-save fa-file-excel-size"></i></button>
            <button class="btn btn-save" id="btn-create-alert" title="@Model.Labels.CreateAlert"><i class="fa fa-clock-o fa-file-excel-size"></i></button>
        </div>
    </div>
</div>
@*<div class="h20">
    </div>*@
@*<div class="row">
        <div class="col-md-12">
            @Html.Action("ResultOptions", _controller)
        </div>
    </div>*@
<div class="h20">
</div>
<div class="row">
    <div class="col-md-12">
        <center>
            <p id="gridEmpty" style="display:none">@GestionWeb.GetWebWord(2106, Model.Presentation.SiteLanguage)</p>
            <div id="grid" class="hide">
            </div>
            <div id="gridLoader">
                <div class='uil-ring-css' style='transform:scale(0.54);'><div></div></div>
            </div>
        </center>
    </div>
</div>

<div class="row margin-top-30">
    <div class="col-md-12">
        <form class="form-inline pull-right">
            <div id="combo" class="form-group">
                <label for="wombocombo">Filter</label>
                <select class="form-control"></select>
            </div>
        </form>
    </div>
</div>

<div class="row margin-top-30" id="top-post">

</div>
<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="post-selected" hidden>

        </div>
    </div>
</div>
<div id="resultModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="gadModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="alertModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="exportResultModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<input type="hidden" id="current-url" value="/@_controller/Results" />
@section Scripts{
    <script src="~/IgniteUI/js/i18n/infragistics-fr.js"></script>
    <script src="~/IgniteUI/js/infragistics.core.js"></script>
    <script src="~/IgniteUI/js/infragistics.dv.js"></script>
    <script src="~/IgniteUI/js/infragistics.lob.js"></script>
    <script src="~/IgniteUI/js/modules/i18n/regional/infragistics.ui.regional-fr.js"></script>

    <script id="titleTmpl" type="text/template">
        {{if parseInt(${IdPage}) != 0}}
        <img class="imgPageFacebook" style="max-width:18px;" data-post="${IdPage}" src="" />
        {{/if}}
        ${PageName}
    </script>

    <script id="linkToPostTmpl" type="text/template">
        <center>
            <form id="${IdPageFacebook}" action="/SocialMedia/SocialMediaCreative" method="post" target="_blank">
                <input type="hidden" name="ids" value="${IdPageFacebook}" />
                <input type="hidden" name="type" value="0" />
                <a href="javascript:;" onclick="document.getElementById('${IdPageFacebook}').submit();">
                    <span class="fa fa-search-plus"></span>
                </a>
            </form>
        </center>
    </script>

    <script id="linkUrlTmpl" type="text/template">
        {{if ${Url} != "" }}
        <center>
            <a href="${Url}" target="_blank">
                <span class="fa fa-facebook-official"></span>
            </a>
        </center>
        {{/if}}
    </script>


    @Scripts.Render("~/bundles/results")
    @Scripts.Render("~/bundles/socialMedia-results")
}

