@model Km.AdExpressClientWeb.Models.SocialMedia.PostFacebookVM

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <iframe id="objectPost" src="" scrolling="yes" style="width:100%;height:600px; border:none;"></iframe>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div id="chartsPostFacebook" class="form-inline row">
            <div class="col-md-12">
                <form class="form-inline text-center">
                    <div id="unityZoom" class="form-group popup-text">
                        <label for="unityZoom">@Model.Labels.Unit</label>
                        <select class="form-control" id="seriesTypeZoom">
                            <option value="like" selected="selected">Like</option>
                            <option value="share">Share</option>
                            <option value="comment">Comment</option>
                        </select>
                    </div>
                </form>
                <br/>
                <div id="chart" class="img-responsive center"></div>
                @Html.Hidden("comment", Model.Post.NumberComments)
                @Html.Hidden("like", Model.Post.NumberLikes)
                @Html.Hidden("share", Model.Post.NumberShares)
                @Html.Hidden("id", Model.Post.IdPost)
            </div>
        </div>
    </div>
</div>

<script>
    if (typeof jQuery === "undefined") { throw new Error("No jQuery") }
    var id = $('#id').val();
    var link = "/SocialMedia/GetPostHtml?id=" + id;
    $("#objectPost").attr('src', link);
    $("#objectPost").show();
    document.getElementById('objectPost').onload = function () {
        $("#objectPost").css("background", "none");
    }
</script>