@model Kantar.AdExpress.Service.Core.Domain.MSCreatives

@{
    var columnWidth = 0;
    Int64 nbVisuals = 1;
    string modalHref = "";
}

<div class="row">
    <div class="col-md-12 msCreative">
        <div class="panel panel-sans text-left">
            <div class="panel-heading text-left">
                <div class="pull-right filtrer"><small class="font-normal text-white v-middle"><strong class="blue"><span id="creativeNb"></span></strong><span id="creativeNbLabel"> Aucun élément sélectionné &nbsp;</span></small><button id="creative-btn" class="btn btn-filtrer">Filtrer</button>&nbsp;<button id="undo-btn" class="btn btn-filtrer">Annuler</button></div>
                <div class="font-normal text-primary-lt">Détails des versions de la presse</div>
            </div>
            <div class="panel-body" style="height:250px;overflow-y:scroll;width:100%;">
                <div class="row no-gutter">
                    @foreach (var creative in Model.Items)
                    {
                        if (creative.NbVisuals == 0)
                        {
                            nbVisuals = 1;
                        }
                        else
                        {
                            nbVisuals = creative.NbVisuals;
                        }
                        <div class="col-xs-@nbVisuals">
                            <div class="panel press">
                                <div class="item">
                                    <div class="select-affiner">
                                        <input id="@creative.Id" name="creative" type="checkbox" class="with-font" value="@creative.Id" />
                                        <label for="@creative.Id"></label>
                                    </div>
                                    <div class="bottom text-white">
                                        <div class ="@creative.Class">@creative.Id</div>
                                    </div>
                                    <div class="row no-gutter">
                                        @for (int i = 0; i < creative.Visuals.Count; i++ )
                                        {
                                            columnWidth = 12 / creative.Visuals.Count;
                                            modalHref = "#myModalIMG" + i;
                                            <div class="col-xs-@columnWidth" href="@modalHref" data-toggle="modal"><img src="@creative.Visuals[i]" class="img-full"></div>
                                        }
                                        @if (creative.NbVisuals == 0)
                                        {
                                            <div class="col-xs-1 empty-image"></div>
                                        }
                                    </div>
                                </div>
                            </div>
                            @for (int i = 0; i < creative.Visuals.Count; i++)
                            {
                                modalHref = "myModalIMG" + i;
                                <div id="@modalHref" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="@creative.Visuals[i]" class="img-full">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>