@model Kantar.AdExpress.Service.Core.Domain.ResultOptions.Options

<div class="panel-sans text-left options-control">
    <div class="panel-heading text-left">
        <i class="fa fa-cog text-lg orange "></i>
        <h4 class="font-normal m-t-none m-b-md orange">Options d'analyse</h4>
    </div>
    <div class="padder-v bg-dark">
        <div class="panel-group panel-options-results" id="accordion">
            <div class="panel-primary panel-options-results">
                <div class="panel-heading head-options-results">
                    <p class="panel-title options ">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Unité
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </p>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body mi-padder">
                        <div class="selectoptioncontainer">
                            <select id="@Model.UnitOption.Unit.Id" class="selectdatepicker">
                                @foreach (var item in Model.UnitOption.Unit.Items)
                                {
                                    if (item.Value == Model.UnitOption.Unit.SelectedId)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-primary panel-options-results">
                <div class="panel-heading head-options-results">
                    <p class="panel-title options ">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Insertion
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </p>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body mi-padder">
                        <div class="dropdown select-options">
                            <button type="button" class="btn btn-rounded selecteur" data-toggle="dropdown">
                                Total
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu bg-orange">
                                <li><a href>Insertion 1</a></li>
                                <li><a href>Insertion 2</a></li>
                                <li><a href>Insertion 3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-primary panel-options-results">
                <div class="panel-heading head-options-results">
                    <p class="panel-title options ">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTree">
                            Auto promo
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </p>
                </div>
                <div id="collapseTree" class="panel-collapse collapse">
                    <div class="panel-body mi-padder">
                        <div class="dropdown select-options">
                            <button type="button" class="btn btn-rounded selecteur" data-toggle="dropdown">
                                Total
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu bg-orange">
                                <li><a href>Auto promo 1</a></li>
                                <li><a href>Auto promo 2</a></li>
                                <li><a href>Auto promo 3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-primary panel-options-results">
                <div class="panel-heading head-options-results">
                    <p class="panel-title options ">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            Période détaillée par
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </p>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body mi-padder">
                        <div class="selectoptioncontainer">
                            <select id="@Model.PeriodDetail.PeriodDetailType.Id" class="selectdatepicker">
                                @foreach (var item in Model.PeriodDetail.PeriodDetailType.Items)
                                {
                                    if (item.Value == Model.PeriodDetail.PeriodDetailType.SelectedId)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-primary panel-options-results">
                <div class="panel-heading head-options-results">
                    <p class="panel-title options ">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            Format
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </p>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body mi-padder">
                        <div class="checkbox">
                            <label class="i-checks i-checks-sm">
                                <input type="checkbox" name="a">
                                <i></i>
                                Option 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="i-checks i-checks-sm">
                                <input type="checkbox" name="a">
                                <i></i>
                                Option 2
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="i-checks i-checks-sm">
                                <input type="checkbox">
                                <i></i>
                                Option 3
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-primary panel-options-results">
                <div class="panel-heading head-options-results">
                    <p class="panel-title options ">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                            Mode de vente
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </p>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body mi-padder">
                        <div class="checkbox">
                            <label class="i-checks i-checks-sm">
                                <input type="checkbox" name="a">
                                <i></i>
                                Option 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="i-checks i-checks-sm">
                                <input type="checkbox" name="a">
                                <i></i>
                                Option 2
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="i-checks i-checks-sm">
                                <input type="checkbox">
                                <i></i>
                                Option 3
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-primary panel-options-results">
                <div class="panel-heading head-options-results">
                    <p class="panel-title options ">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
                            Niveaux détaillées par
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </p>
                </div>
                <div id="collapseHeight" class="panel-collapse collapse">
                    <div class="panel-body mi-padder">
                        <div class="selectoptioncontainer">
                            <select id="@Model.GenericDetailLevel.DefaultDetail.Id" class="selectdatepicker">
                                @foreach (var item in Model.GenericDetailLevel.DefaultDetail.Items)
                                {
                                    if (item.Value == Model.GenericDetailLevel.DefaultDetail.SelectedId)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                 }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-primary panel-options-results">
                <div class="panel-heading head-options-results">
                    <p class="panel-title options ">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                            Niveaux personnalisés
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </p>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body mi-padder">
                        <small class="pader-v-mi orange">Niveaux enregistrés</small><button class="btn btn-sans pull-right" title="Supprimer"><i class="glyphicon glyphicon-trash"></i></button>
                        <div class="selectoptioncontainer">
                            <select id="@Model.GenericDetailLevel.CustomDetail.Id" class="selectdatepicker">
                                @foreach (var item in Model.GenericDetailLevel.CustomDetail.Items)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <small class="pader-v-mi orange">Construction</small><button class="btn btn-sans pull-right" title="Sauvegarder"><i class="glyphicon glyphicon-floppy-save"></i></button>
                        <div class="selectoptioncontainer">
                            <select id="@Model.GenericDetailLevel.L1Detail.Id" class="selectdatepicker">
                                @foreach (var item in Model.GenericDetailLevel.L1Detail.Items)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="selectoptioncontainer">
                            <select id="@Model.GenericDetailLevel.L2Detail.Id" class="selectdatepicker">
                                @foreach (var item in Model.GenericDetailLevel.L2Detail.Items)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="selectoptioncontainer">
                            <select id="@Model.GenericDetailLevel.L3Detail.Id" class="selectdatepicker">
                                @foreach (var item in Model.GenericDetailLevel.L3Detail.Items)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="selectoptioncontainer">
                            <select id="@Model.GenericDetailLevel.L4Detail.Id" class="selectdatepicker">
                                @foreach (var item in Model.GenericDetailLevel.L4Detail.Items)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkbox padder">
                <label class="i-checks i-checks-sm">
                    <input type="checkbox" name="a">
                    <i></i>
                    Étude comparative
                </label>
            </div>
            <div class="checkbox padder orange">
                <label class="i-checks i-checks-sm">
                    <input type="checkbox" name="a">
                    <i></i>
                    Annuler la séléction supports
                </label>
            </div>
            <div class="padder btn-options">
                <button id="validate-options" class="btn btn-valider">Appliquer&nbsp;<i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>
</div>
