@model Kantar.AdExpress.Service.Core.Domain.ResultOptions.Options
@using TNS.AdExpress.Domain.Translation;
@using TNS.AdExpress.Domain.Web;
@{
    var optionsNb = 1;
    var classHide = "";
    string multiple = Model.UnitOption.Unit.EnableMultiple ? "multiple" : string.Empty;
}

<div class="panel-group panel-group-results panel-group-options" id="media-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary panel-options">
        <a role="button" data-toggle="collapse" data-parent="#media-accordion" href="#collapseContainerOne" aria-expanded="true" aria-controls="collapseContainerOne">
            <div class="panel-heading head-results bg-violet" role="tab" id="headingOne">
                <h3 class="panel-title pull-left">

                    <i class="fa fa-cog text-lg"></i> @GestionWeb.GetWebWord(792, Model.SiteLanguage)
                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                </h3>
                <div class="clearfix"></div>
            </div>
        </a>
        <div id="collapseContainerOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-sans text-left options-control">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel-primary panel-options-results">
                            <div class="panel-heading head-options-results">
                                <p class="panel-title options ">
                                    @GestionWeb.GetWebWord(304, Model.SiteLanguage)
                                </p>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body mi-padder">
                                    <div class="selectoptioncontainer">
                                        <select id="@Model.UnitOption.Unit.Id" class="selectdatepicker" @multiple>
                                            @foreach (var item in Model.UnitOption.Unit.Items)
                                            {
                                                if ( Model.UnitOption.Unit.SelectedIds.Contains(item.Value))
                                                {
                                                    <option value="@item.Value" selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (@Model.InsertionOption.Insertion.Visible)
                    {
                        <div class="col-md-4">
                            <div class="panel-primary panel-options-results">
                                <div class="panel-heading head-options-results">
                                    <p class="panel-title options ">
                                        @GestionWeb.GetWebWord(1400, Model.SiteLanguage)
                                    </p>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in">
                                    <div class="panel-body mi-padder">
                                        <div class="selectoptioncontainer">
                                            <select id="@Model.InsertionOption.Insertion.Id" class="selectdatepicker">
                                                @foreach (var item in Model.InsertionOption.Insertion.Items)
                                                {
                                                    if (item.Value == Model.InsertionOption.Insertion.SelectedId)
                                                    {
                                                        <option value="@item.Value" selected>@item.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        optionsNb++;
                    }
                    @if (@Model.AutoPromoOption.AutoPromo.Visible)
                    {
                        <div class="col-md-4">
                            <div class="panel-primary panel-options-results">
                                <div class="panel-heading head-options-results">
                                    <p class="panel-title options ">
                                        @GestionWeb.GetWebWord(3067, Model.SiteLanguage)
                                    </p>
                                </div>
                                <div id="collapseTree" class="panel-collapse collapse in">
                                    <div class="panel-body mi-padder">
                                        <div class="selectoptioncontainer">
                                            <select id="@Model.AutoPromoOption.AutoPromo.Id" class="selectdatepicker">
                                                @foreach (var item in Model.AutoPromoOption.AutoPromo.Items)
                                                {
                                                    if (item.Value == Model.AutoPromoOption.AutoPromo.SelectedId)
                                                    {
                                                        <option value="@item.Value" selected>@item.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        optionsNb++;
                        if (optionsNb == 3)
                        {
                            optionsNb = 0;
                            @Html.Raw("</div><div class='row'>");
                        }
                    }
                    <div class="col-md-4">
                        <div id="perioddetailTypeContainer" class="panel-primary panel-options-results">
                            <div class="panel-heading head-options-results">
                                <p class="panel-title options ">
                                    @GestionWeb.GetWebWord(2288, Model.SiteLanguage)
                                </p>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse in">
                                <div class="panel-body mi-padder">
                                    <div class="selectoptioncontainer">
                                        <select id="@Model.PeriodDetail.PeriodDetailType.Id" class="selectdatepicker">
                                            @foreach (var item in Model.PeriodDetail.PeriodDetailType.Items)
                                            {
                                                if (item.Value == Model.PeriodDetail.PeriodDetailType.SelectedId)
                                                {
                                                    <option value="@item.Value" selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        optionsNb++;
                        if (optionsNb == 3)
                        {
                            optionsNb = 0;
                            @Html.Raw("</div><div class='row'>");
                        }
                    }
                    @if (@Model.FormatOption.Format.Visible)
                    {
                        <div class="col-md-4">
                            <div class="panel-primary panel-options-results">
                                <div class="panel-heading head-options-results">
                                    <p class="panel-title options ">
                                        Format
                                    </p>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse in">
                                    <div class="panel-body mi-padder">
                                        <div class="selectoptioncontainer">
                                            <select id="@Model.FormatOption.Format.Id" class="selectdatepicker" multiple>
                                                @foreach (var item in Model.FormatOption.Format.Items)
                                                {
                                                    if (Model.FormatOption.Format.SelectedId.Contains(item.Value))
                                                    {
                                                        <option value="@item.Value" selected>@item.Text</option>
                                                    }
                                                    else if (!item.Enabled)
                                                    {
                                                        <option value="@item.Value" disabled>@item.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        optionsNb++;
                        if (optionsNb == 3)
                        {
                            optionsNb = 0;
                            @Html.Raw("</div><div class='row'>");
                        }
                    }
                    @if (@Model.PurchaseModeOption.PurchaseMode.Visible)
                    {
                        <div class="col-md-4">
                            <div class="panel-primary panel-options-results">
                                <div class="panel-heading head-options-results">
                                    <p class="panel-title options ">
                                        @GestionWeb.GetWebWord(3016, Model.SiteLanguage)
                                    </p>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse in">
                                    <div class="panel-body mi-padder">
                                        <div class="selectoptioncontainer">
                                            <select id="@Model.PurchaseModeOption.PurchaseMode.Id" class="selectdatepicker" multiple>
                                                @foreach (var item in Model.PurchaseModeOption.PurchaseMode.Items)
                                                {
                                                    if (Model.PurchaseModeOption.PurchaseMode.SelectedId.Contains(item.Value))
                                                    {
                                                        <option value="@item.Value" selected>@item.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        optionsNb++;
                        if (optionsNb == 3)
                        {
                            optionsNb = 0;
                            @Html.Raw("</div><div class='row'>");
                        }
                    }
                    <div class="col-md-4">
                        <div class="panel-primary panel-options-results">
                            <div class="panel-heading head-options-results">
                                <p class="panel-title options ">
                                    @GestionWeb.GetWebWord(1886, Model.SiteLanguage)
                                </p>
                            </div>
                            <div id="collapseHeight" class="panel-collapse collapse in">
                                <div class="panel-body mi-padder">
                                    <div class="selectoptioncontainer">
                                        <select id="@Model.GenericDetailLevel.DefaultDetail.Id" class="selectdatepicker">
                                            @foreach (var item in Model.GenericDetailLevel.DefaultDetail.Items)
                                            {
                                                if (item.Value == Model.GenericDetailLevel.DefaultDetail.SelectedId)
                                                {
                                                    <option value="@item.Value" selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        optionsNb++;
                        if (optionsNb == 3)
                        {
                            optionsNb = 0;
                            @Html.Raw("</div><div class='row'>");
                        }
                    }
                    <div class="col-md-4">
                        <div class="panel-primary panel-options-results">
                            <div class="panel-heading head-options-results">
                                <p class="panel-title options ">
                                    @GestionWeb.GetWebWord(1896, Model.SiteLanguage)
                                </p>
                            </div>
                            <div id="collapseNine" class="panel-collapse collapse in">
                                <div class="panel-body mi-padder">
                                    <small class="pader-v-mi">@GestionWeb.GetWebWord(1897, Model.SiteLanguage)</small><button id="remove-custom-detail-levels" class="btn btn-sans pull-right" title="@GestionWeb.GetWebWord(1951, Model.SiteLanguage)"><i class="glyphicon glyphicon-trash"></i></button>
                                    <div class="selectoptioncontainer">
                                        <select id="@Model.GenericDetailLevel.CustomDetail.Id" class="selectdatepicker">
                                            @foreach (var item in Model.GenericDetailLevel.CustomDetail.Items)
                                            {                                               
                                                if (item.Value == Model.GenericDetailLevel.CustomDetail.SelectedId)
                                                {
                                                    <option value="@item.Value" selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }


                                        </select>
                                    </div>
                                    <small class="pader-v-mi">@GestionWeb.GetWebWord(1899, Model.SiteLanguage)</small><button id="save-custom-detail-levels" class="btn btn-sans pull-right" title="@GestionWeb.GetWebWord(1990, Model.SiteLanguage)"><i class="glyphicon glyphicon-floppy-save"></i></button>
                                    <div class="selectoptioncontainer">
                                        <select id="@Model.GenericDetailLevel.L1Detail.Id" class="selectdatepicker">
                                            @foreach (var item in Model.GenericDetailLevel.L1Detail.Items)
                                            {
                                                if (item.Value == Model.GenericDetailLevel.L1Detail.SelectedId)
                                                {
                                                    <option value="@item.Value" selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="selectoptioncontainer">
                                        <select id="@Model.GenericDetailLevel.L2Detail.Id" class="selectdatepicker">
                                            @foreach (var item in Model.GenericDetailLevel.L2Detail.Items)
                                            {                                               
                                                if (item.Value == Model.GenericDetailLevel.L2Detail.SelectedId)
                                                {
                                                    <option value="@item.Value" selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="selectoptioncontainer">
                                        <select id="@Model.GenericDetailLevel.L3Detail.Id" class="selectdatepicker">
                                            @foreach (var item in Model.GenericDetailLevel.L3Detail.Items)
                                            {                                               
                                                if (item.Value == Model.GenericDetailLevel.L3Detail.SelectedId)
                                                {
                                                    <option value="@item.Value" selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="selectoptioncontainer">
                                        <select id="@Model.GenericDetailLevel.L4Detail.Id" class="selectdatepicker">
                                            @foreach (var item in Model.GenericDetailLevel.L4Detail.Items)
                                            {                                               
                                                if (item.Value == Model.GenericDetailLevel.L4Detail.SelectedId)
                                                {
                                                    <option value="@item.Value" selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        optionsNb++;
                        if (optionsNb == 3)
                        {
                            optionsNb = 0;
                            @Html.Raw("</div><div class='row'>");
                        }
                    }
                    <div class="col-md-4">
                        @if (WebApplicationParameters.UseComparativeMediaSchedule)
                        {
                            <div class="checkbox padder media-schedule-option">
                                @if (Model.ComparativeStudy)
                                {
                                    <input id="comparative-study" type="checkbox" name="comparative-study" class="with-font" checked />
                                }
                                else
                                {
                                    classHide = "hide";
                                    <input id="comparative-study" type="checkbox" name="comparative-study" class="with-font" />
                                }
                                <label for="comparative-study">@GestionWeb.GetWebWord(1118, Model.SiteLanguage)</label>
                            </div>
                            <div id="comparative-period-type" class="@classHide">
                                <div class="padder-radio media-schedule-option">
                                    @if (Model.ComparativePeriodType == TNS.AdExpress.Constantes.Web.globalCalendar.comparativePeriodType.dateToDate)
                                    {
                                        <input id="date-to-date" name="date-to-date" type="radio" class="with-font" value="1" checked />
                                    }
                                    else
                                    {
                                        <input id="date-to-date" name="date-to-date" type="radio" class="with-font" value="1" />
                                    }
                                    <label for="date-to-date">@GestionWeb.GetWebWord(2294, Model.SiteLanguage)</label>
                                </div>
                                <div class="padder-radio media-schedule-option">
                                    @if (Model.ComparativePeriodType == TNS.AdExpress.Constantes.Web.globalCalendar.comparativePeriodType.comparativeWeekDate)
                                    {
                                        <input id="comparative-week-date" name="comparative-week-date" type="radio" class="with-font" value="0" checked />
                                    }
                                    else
                                    {
                                        <input id="comparative-week-date" name="comparative-week-date" type="radio" class="with-font" value="0" />
                                    }
                                    <label for="comparative-week-date">@GestionWeb.GetWebWord(2295, Model.SiteLanguage)</label>
                                </div>
                            </div>
                        }
                        @if (Model.InitializeMedia.Enabled)
                        {
                            <div id="initializeMediaContainer" class="checkbox padder media-schedule-option">
                                <input id="@Model.InitializeMedia.Id" type="checkbox" name="@Model.InitializeMedia.Id" class="with-font" />
                                <label for="@Model.InitializeMedia.Id">@GestionWeb.GetWebWord(2069, Model.SiteLanguage)</label>
                            </div>
                        }
                        @if (WebApplicationParameters.UseRetailer)
                        {
                            <div class="checkbox padder media-schedule-option">
                                @if (Model.IsSelectRetailerDisplay)
                                {
                                    <input id="retailer-display" type="checkbox" name="retailer-display" class="with-font" checked />
                                }
                                else
                                {
                                    <input id="retailer-display" type="checkbox" name="retailer-display" class="with-font" />
                                }
                                <label for="retailer-display">@GestionWeb.GetWebWord(2857, Model.SiteLanguage)</label>
                            </div>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="padder-btn btn-options pull-right">
                        <button id="validate-options" class="btn btn-valider">@GestionWeb.GetWebWord(3040, Model.SiteLanguage)&nbsp;<i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
