@model Kantar.AdExpress.Service.Core.Domain.SubPeriod

<div class="row">
    <div class="col-md-9 panel-sub-period">
        @if (!Model.HideExistButton)
        {
        <span id="leave-zoom" class="link-cursor">
                    <i class="fa fa-arrow-left"></i> @Model.LeaveZoom
        </span>
        }
        <div id="sub-period-container" class="panel panel-default panel-cotes">
            <div class="panel-heading second">
                <div class="sub-period-info">
                    <h5>
                        <strong>@Model.PeriodLabel</strong><span id="subPeriodLabel" class="sub-period-label">@Model.FirstPeriodLabel</span>
                    </h5>
                </div>
                <div class="btn-group btn-group-margin" role="group" aria-label="...">
                    @foreach (var item in Model.Items)
                    {
                        if (@item.IsSelected)
                        {
                            <button type="button" disabled class="btn btn-default-sub-period sub-period-btn" period="@item.Period" periodlabel="@item.PeriodLabel">@item.Label</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-default sub-period-btn" period="@item.Period" periodlabel="@item.PeriodLabel">@item.Label</button>
                        }
                    }

                    @if (Model.Items.Count < 5)
                    {
                        <button id="allSubPeriod" style="width:auto !important;" type="button" class="btn btn-default sub-period-btn hidden" period="" periodlabel="@Model.AllPeriodLabel">@Model.AllLabel</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>