
@model  Km.AdExpressClientWeb.Models.MediaSchedule.MarketViewModel
@{
    ViewBag.Title = "MarketSelection";
}

<div class="row">
    @*PRESENTATION*@
    @Html.Partial("Presentation", Model.Presentation)

    @*BREADCRUM*@
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
        @Html.Partial("NavigationBar", @Model.NavigationBar)
    </div>
    @*SEARCH*@
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30 ">
        <div class="row  bg-black-only">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading ">
                <h4 class="pull-left"><i class="fa fa-quote-left"></i>&nbsp; @Model.Labels.KeyWordLabel </h4>
                <h5 class="pull-right"> @Model.Labels.KeyWordDescription</h5>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="input-group">
                    <input id="keyword" type="text" class="form-control recherche" placeholder="Recherche">
                    <div class="input-group-btn dropdown" dropdown="">
                        <button id="branch" type="button" class="btn btn-default select-recherche" data-branch="@Model.Branches.FirstOrDefault(p => p.IsSelected).Id" data-toggle="dropdown">@Model.Branches.FirstOrDefault(p => p.IsSelected).Label <span class="caret"></span></button>
                        <ul class="dropdown-menu bg-blue pull-right">
                            @foreach (var item in Model.Branches)
                            {
                                if (item.IsSelected)
                                {
                                    <li id="default" hidden><a data-id="@item.Id">@item.Label</a></li>
                                }
                                else
                                {
                                <li id="@item.Id"><a data-id="@item.Id">@item.Label</a></li>
                                }
                            }
                        </ul>
                        <button class="btn btn-default btn-recherche" type="button"><i class="fa fa-search blue "></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">

        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="panel  panel-marche">
                <div class="panel-heading-choix">
                    <h4 class="panel-title"><i class="fa fa-list-ul"></i>&nbsp; Résultats</h4>
                </div>
                @foreach (var item in Model.Branches)
                {
                    <div id="branch@(item.Id)" class="universes" style="display:none">
                        @foreach (var level in item.UniversLevels)
                        {
                            <div id="groupSelectable@(level.Id)" data-label="@(level.Label)" data-universe="@(level.Id)" data-branch="@(item.Id)" class="panel panel-default"></div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="btn-marche text-center">
                <a class="btn btn-green2 btn-circle btn-xl">
                    <i class="fa fa-arrow-right"></i>
                </a>
                <p class="lead">@Model.Labels.Include</p>
                <div class="clearfix"></div>
                <a class="btn btn-red btn-circle btn-xl ">
                    <i class="fa fa-arrow-right"></i>
                </a>
                <p class="lead">@Model.Labels.Exclude</p>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="panel-heading-choix nav-tabs-alt">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a data-target="#tab-1" role="tab" data-toggle="tab" aria-expanded="true">
                            Éléments inclus
                        </a>
                    </li>
                    <li class="">
                        <a data-target="#tab-2" role="tab" data-toggle="tab" aria-expanded="false">
                            Éléments exclus
                        </a>
                    </li>
                    <li class="">
                        <a data-target="#tab-3" role="tab" data-toggle="tab" aria-expanded="false">
                            Et / Ou
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane in active" id="tab-1">
                    <div class="panel-body resultats-marche">
                        <div class="panel-group panel-group-results" id="accordion">
                            <div class="panel panel-primary panel-results">
                                <div class="panel-heading head-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Famille
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-results">
                                <div class="panel-heading head-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Classe
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-results">
                                <div class="panel-heading head-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTree">
                                            Groupe
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseTree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <button type="button" class="tout-suppr"><span>Tout supprimer</span>&nbsp;<i class="fa fa-times-circle red text-based"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab-2">
                    <div class="panel-body resultats-marche">
                        <div class="panel-group panel-group-results" id="accordion">
                            <div class="panel panel-primary panel-results">
                                <div class="panel-heading head-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Famille
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-results">
                                <div class="panel-heading head-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Classe
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-results">
                                <div class="panel-heading head-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTree">
                                            Groupe
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseTree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            Variété
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                            Groupe de sociétés
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                            Annonceurs
                                            <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                            Marques
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
                                            Produits
                                            <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseHeight" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="tout-suppr"><span>Tout supprimer</span>&nbsp;<i class="fa fa-times-circle red text-based"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab-3">
                    <div class="panel-body resultats-marche">
                        <div class="panel-group panel-marche-results" id="accordion">
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Famille
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Classe
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTree">
                                            Groupe
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseTree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            Variété
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                            Groupe de sociétés
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                            Annonceurs
                                            <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                            Marques
                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-marche-results">
                                <div class="panel-heading head-famille-results">
                                    <h6 class="panel-title famille ">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
                                            Produits
                                            <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseHeight" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="items-famille">
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Lorem ipsum <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Consectitur <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                            <li>Adipiscing <button class="pull-right"> <i class="fa fa-times-circle black text-base "></i></button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="tout-suppr"><span>Tout supprimer</span>&nbsp;<i class="fa fa-times-circle red text-based"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30 margin-bot-30">
        <div class="col-lg-offset-7 col-md-offset-7 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            @Html.ActionLink("Valider", "MediaSelection", null, new { @class = "btn btn-default btn-valider pull-right" })
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/universe")
}
