@model Km.AdExpressClientWeb.Models.MediaSelectionViewModel

@{
    ViewBag.Title = "MediaSelection";
}

<div class="row">
    @Html.Partial("Presentation")
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
        <div class="row center-block">

            <div class="row row-sm">
                <div class="col-xs-1 padder-v margin-b text-left">&nbsp;</div>
                <div class="col-xs-10 padder-v margin-b text-left">
                    <center>
                        <ul class="timeline">
                            @foreach (var navigation in Model.NavigationBar)
                            {
                                if (navigation.IsActive)
                                {
                                    <li class="tl-header">
                                        <a class="btn btn-warning btn-circle" href="@Url.Action(navigation.Action, navigation.Controller, navigation.Id)">
                                            <i class="fa fa-file-text"></i>
                                        </a>
                                        <p class="lead">@navigation.Title</p>
                                    </li>
                                }
                                else
                                {
                                    <li class="tl-header">
                                        <a class="btn btn-warning btn-circle btn-empty" href="@Url.Action(navigation.Action, navigation.Controller, navigation.Id)">
                                            <i class="fa fa-file-text"></i>
                                        </a>
                                        <p class="lead">@navigation.Title</p>
                                    </li>
                                }
                                if (navigation.Id < Model.NavigationBar.Count())
                                {
                                    if (navigation.IsActive)
                                    {
                                        <li class="tl-item">
                                            <div class="tl-wrap tl-active">
                                                <div class="tl-content">
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="tl-item">
                                            <div class="tl-wrap">
                                                <div class="tl-content">
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </center>
                </div>
            </div>
        <div class="clearfix"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
            <h4 class=""><i class="fa fa-eye"></i> Sélection des médias</h4>
        </div>
        @Html.HiddenFor(e => e.Multiple)
        @for (int i = 0; i < Model.IdMediasCommon.Count; i++)
        {
            <input type="hidden" name="HiddenIntList" value="@Model.IdMediasCommon[i]" />
        }
        @if (Model.Multiple)
        {
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                <div class="pull-right">
                    <small class="v-super">Pré-sélection &nbsp; </small>
                    <label class="i-switch" id="switch">
                        <input type="checkbox" for="switch" id="preselection">
                        <i></i>
                    </label>
                </div>
            </div>
        }

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @foreach (var item in Model.Medias)
            {

                if (!item.Disabled)
                {
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="block panel padder-v bg-black-only tuile-medias text-center" data-attr-id="@item.Id">
                            <div class="top text-center w-full">
                                <i class="fa @item.icon m-r-sm"></i>
                            </div>
                            <div class="h5 font-normal h5">@item.Label</div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="block panel padder-v bg-black-only tuile-medias text-center disabled-effect">
                            <div class="top text-center w-full">
                                <i class="fa @item.icon m-r-sm"></i>
                            </div>
                            <div class="h5 font-normal h5">@item.Label</div>
                        </div>
                    </div>
                }
            }


        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
            @Html.ActionLink("Valider", "PeriodSelection", null, new { @class = "btn btn-default btn-valider pull-right" })
        </div>
    </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/media-selection")
}