@model Km.AdExpressClientWeb.Models.Shared.MediaSelectionViewModel

@{
    ViewBag.Title = "MediaSelection";
    var array = @Html.Raw(Json.Encode(Model.ErrorMessage));
    var _controller = Model.NavigationBar.First().Controller;
}
<div class="row">
    @Html.Partial("Presentation", Model.Presentation)
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
        @Html.Partial("NavigationBar", @Model.NavigationBar)
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
        @Html.HiddenFor(e => e.Dimension)
        @Html.HiddenFor(e => e.Multiple)
        @foreach (int i in Model.IdMediasCommon)
        {
            <input type="hidden" name="HiddenIntList" value="@i" />
        }
        <div class="panel-group panel-group-results" id="media-accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary panel-results">
                <div class="panel-heading head-results" role="tab" id="headingOne">
                    <h3 class="panel-title pull-left">
                        <a role="button" data-toggle="collapse" data-parent="#media-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-eye"></i> Sélection des médias
                        </a>
                    </h3>
                    @if (Model.Multiple)
                    {
                        <span class="pull-right">
                            <small class="v-super">Pré-sélection &nbsp; </small>
                            <label class="i-switch" id="switch">
                                <input type="checkbox" for="switch" id="preselection">
                                <i></i>
                            </label>
                        </span>
                    }
                    <div class="clearfix"></div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @foreach (var item in Model.Medias)
                        {
                            if (!item.Disabled)
                            {
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                    <div class="block margin-b-20 padder-v bg-black-only tuile-medias text-center" data-attr-id="@item.Id">
                                        <div class="top text-center w-full">
                                            <i class="fa @item.icon m-r-sm"></i>
                                        </div>
                                        <div class="h5 font-normal h5">@item.Label</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                    <div class="block margin-b-20 padder-v bg-black-only tuile-medias text-center disabled-effect">
                                        <div class="top text-center w-full">
                                            <i class="fa @item.icon m-r-sm"></i>
                                        </div>
                                        <div class="h5 font-normal h5">@item.Label</div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-primary panel-results" >
                <div class="panel-heading head-results" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#media-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-search"></i> @Model.Labels.Refine
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row bg-black-only">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
                                        <h4 class="pull-left"><i class="fa fa-quote-left"></i>&nbsp;@Model.Labels.KeyWordLabel </h4>
                                        <h5 class="pull-right"> @Model.Labels.KeyWordDescription</h5>
                                        <div class="clearfix"></div>
                                        <div class="input-group">
                                            <input id="keyword" type="text" class="form-control recherche" placeholder="Recherche">
                                            <div class="input-group-btn dropdown" dropdown="">
                                                <button id="branch" type="button" class="btn btn-default select-recherche"
                                                        data-branch="@Model.Branches.FirstOrDefault(p => p.IsSelected).Id"
                                                        data-toggle="dropdown">
                                                    @Model.Branches.FirstOrDefault(p => p.IsSelected).Label
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu bg-blue pull-right">
                                                    @foreach (var item in Model.Branches)
                                                    {
                                                        if (item.IsSelected)
                                                        {
                                                            <li id="default" hidden><a data-id="@item.Id">@item.Label</a></li>
                                                        }
                                                        else
                                                        {
                                                            <li id="@item.Id"><a data-id="@item.Id">@item.Label</a></li>
                                                        }
                                                    }
                                                </ul>
                                                <button class="btn btn-default btn-recherche" type="button"><i class="fa fa-search blue "></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <div class="panel  panel-marche">
                                            <div class="panel-heading-choix">
                                                <h4 class="panel-title"><i class="fa fa-list-ul"></i>&nbsp; @Model.Labels.Results</h4>
                                            </div>
                                            @foreach (var item in Model.Branches)
                                            {
                                                <div id="branch@(item.Id)" class="universes" style="display:none">
                                                    @foreach (var level in item.UniversLevels)
                                                    {
                                                        <div id="groupSelectable@(level.Id)" data-label="@(level.Label)"
                                                             data-universe="@(level.Id)" data-branch="@(item.Id)" class="panel panel-default">
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="btn-marche text-center">
                                            <a class="btn btn-green2 btn-circle btn-xl">
                                                <i class="fa fa-arrow-right"></i>
                                            </a>
                                            <p class="lead">
                                                @*@Model.Labels.Include*@
                                                (D&eacute;placer)
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">


                                        <div class="panel-heading-choix nav-tabs-alt">
                                            <ul class="nav nav-tabs" role="tablist">
                                                @foreach (var tree in Model.Trees)
                                                {
                                                    <li @(tree == Model.Trees.First() ? "class=active" : "" )>
                                                        <a data-target="#tab-@(tree.Id)"
                                                           data-tab="@(tree.Id)"
                                                           role="tab"
                                                           data-toggle="tab"
                                                           aria-expanded="true">
                                                            @tree.Label
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            @{
                                                var multi = "active in";
                                            }
                                            @foreach (var tree in Model.Trees)
                                            {
                                                <div role="tabpanel"
                                                     class="tab-pane @(tree == Model.Trees.First() ? multi : "")"
                                                     id="tab-@(tree.Id)">
                                                    <div class="panel-group panel-group-results"
                                                         id="tree-@(tree.Id)"
                                                         data-access-type="@((int)tree.AccessType)"
                                                         role="tablist"
                                                         aria-multiselectable="true">
                                                        @foreach (var level in tree.UniversLevels)
                                                        {
                                                            <div class="panel panel-primary panel-results">
                                                                <div class="panel-heading head-results"
                                                                     role="tab"
                                                                     id="heading-@(level.Id)">
                                                                    <h6 class="panel-title famille ">
                                                                        <a role="button"
                                                                           data-toggle="collapse"
                                                                           data-parent="#tree-@(tree.Id)"
                                                                           href="#collapse-@(level.Id)-@(tree.Id)"
                                                                           aria-expanded="true"
                                                                           aria-controls="collapse-@(level.Id)">
                                                                            @level.Label
                                                                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                                                        </a>
                                                                    </h6>
                                                                </div>
                                                                <div id="collapse-@(level.Id)-@(tree.Id)"
                                                                     class="panel-collapse collapse"
                                                                     role="tabpanel"
                                                                     aria-labelledby="heading-@(level.Id)">
                                                                    <div class="panel-body" data-tree="@(tree.Id)" data-level="@(level.Id)">
                                                                        <ul class="items-famille"></ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="pull-right">
                                                        <button type="button" class="tout-suppr"><span>Tout supprimer</span>&nbsp;<i class="fa fa-times-circle red text-based"></i></button>
                                                    </div>
                                                </div>
                                            }
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30 margin-bot-30">
                                <div class="col-lg-offset-7 col-md-offset-7 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <a data-toggle="modal" href="#saveunivers" class="btn btn-save-univers">Enregistrer l'univers <i class="fa fa-bookmark-o"></i></a>
                                    @Html.ActionLink("Valider", "MediaSelection", null, new { id = "btnSubmitMarketSelection", @class = "btn btn-default btn-valider pull-right" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                <h4 class=""><i class="fa fa-eye"></i> Sélection des médias</h4>
            </div>
            @Html.HiddenFor(e => e.Multiple)
            @foreach (int i in Model.IdMediasCommon)
                {
                <input type="hidden" name="HiddenIntList" value="@i" />
            }
            @if (Model.Multiple)
                {
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    <div class="pull-right">
                        <small class="v-super">Pré-sélection &nbsp; </small>
                        <label class="i-switch" id="switch">
                            <input type="checkbox" for="switch" id="preselection">
                            <i></i>
                        </label>
                    </div>
                </div>
            }
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @foreach (var item in Model.Medias)
                {

                    if (!item.Disabled)
                    {
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="block panel padder-v bg-black-only tuile-medias text-center" data-attr-id="@item.Id">
                                <div class="top text-center w-full">
                                    <i class="fa @item.icon m-r-sm"></i>
                                </div>
                                <div class="h5 font-normal h5">@item.Label</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="block panel padder-v bg-black-only tuile-medias text-center disabled-effect">
                                <div class="top text-center w-full">
                                    <i class="fa @item.icon m-r-sm"></i>
                                </div>
                                <div class="h5 font-normal h5">@item.Label</div>
                            </div>
                        </div>
                    }
                }
            </div>*@
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
            <input id="btnSubmitMediaSelection" type="submit" value="Valider" class="btn btn-default btn-valider pull-right" />
        </div>

    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            if (typeof jQuery === "undefined") { throw new Error("Media Client selector requires jQuery") }
            var idList = [];
            var searchId = '18';
            //var socialId=TBD
            if ($('#Multiple').val() == "True") {

                $('.tuile-medias[data-attr-id]').on('click', selectMultiple)

                //CHECKBOX
                var idCommon = [];
                $('[name="HiddenIntList"]').each(function (index) {
                    idCommon.push($(this).attr("value"));
                });
                $('.tuile-medias[data-attr-id]').each(function (i, e) {
                    var elem = $(e);
                    var indexElem = elem.attr('data-attr-id');
                    var index = $.inArray(indexElem, idCommon);
                    if (index == -1)
                        elem.attr("data-grp", "A");
                    else
                        elem.attr("data-grp", "B");
                });

                $(':checkbox').on('change', preselection);

                //FOCUS
                $('[data-grp]').on('mouseenter', highlight);
                $('[data-grp]').on('mouseleave', unhighlight);
            }
            else {
                var idList;
                $('.tuile-medias[data-attr-id]').on('click', selectUnique)
            }

            function highlight() {
                var grp = $(this).attr('data-grp');
                $('[data-grp="' + grp + '"]').addClass('highlight');
            }

            function unhighlight() {
                var grp = $(this).attr('data-grp');
                $('[data-grp="' + grp + '"]').removeClass('highlight');
            }

            function selectUnique() {
                $(this).toggleClass("tuile-medias tuile-medias-active")
                var id = $(this).attr("data-attr-id");
                if (idList !== null && idList !== undefined) {
                    $('.tuile-medias-active[data-attr-id="' + idList + '"]').toggleClass("tuile-medias tuile-medias-active")
                }
                idList = id;
            }

            function selectMultiple(e) {
                $(this).toggleClass("tuile-medias tuile-medias-active")
                var id = $(this).attr("data-attr-id");

                var index = $.inArray(id, idList);
                if (index > -1) {
                    idList.splice(index, 1);
                }
            }

            function preselection() {
                $('.tuile-medias-active').toggleClass("tuile-medias tuile-medias-active")
                var attr = $(this).attr('checked');
                if (typeof attr !== typeof undefined && attr !== false) {
                    $.each(idCommon, function (index, value) {
                        $('.tuile-medias-active[data-attr-id="' + value + '"]').toggleClass("tuile-medias tuile-medias-active")
                    });
                    $(this).removeAttr("checked");
                }
                else {
                    $.each(idCommon, function (index, value) {
                        $('.tuile-medias[data-attr-id="' + value + '"]').toggleClass("tuile-medias tuile-medias-active")
                    });
                    $(this).attr("checked", "");
                }
            }

            function validate() {
                var message = "";
                $('.tuile-medias-active').each(function (index) {
                    var data = $(this).attr('data-attr-id');
                    var dataIndex = $.inArray(data, idList);
                    if (dataIndex == -1) {
                        idList.push(data);
                    }
                });

                var index = $.inArray(searchId, idList);
                if (idList == null || idList.length == 0) {
                    message = '@Html.Raw(Json.Encode(Model.ErrorMessage.EmptySelection))';
                }
                else if (idList.length > 1 && index > -1) {
                    message = '@Html.Raw(Json.Encode(Model.ErrorMessage.SearchErrorMessage))';//search

                }
                @*else if (idList.length>1 && $.inArray(socialId,idList))   //TBD
                {
                    message = '@Html.Raw(Json.Encode(Model.ErrorMessage.SocialErrorMessage))';//search
                }*@
                return message;
            }

            function getSelectedMediaSupport() {
                var trees = [];
                $.each($('.nav.nav-tabs > li a'), function (index, elem) {
                    var itemContainer = $(elem).attr('data-target');
                    var accessType = $(itemContainer + ' .panel-group').attr('data-access-type');
                    var UniversLvl = [];
                    $.each($(itemContainer + ' .panel-group .panel-body'), function (index, elem) {
                        var idLevel = $(elem).attr('data-level');
                        console.log(this);
                        var UniLvl = [];
                        $.each($(this).find('ul > li'), function (index, elem) {
                            var itemUniver = $(elem).attr('data-id');
                            var universItems = {
                                Id: itemUniver
                            }
                            UniLvl.push(universItems);
                        });
                        var UnisLvl = {
                            Id: idLevel,
                            UniversItems: UniLvl
                        };
                        UniversLvl.push(UnisLvl);
                    });
                    var stuff = {
                        Id: itemContainer,
                        AccessType: accessType,
                        UniversLevels: UniversLvl
                    };
                    trees.push(stuff);
                });
                return trees;
            }

            $('#btnSubmitMediaSelection').on('click', function (e) {
                e.preventDefault();
                var msg = validate();
                var isValide = !msg || msg.lentgh === 0;
                if (!isValide) {//mycondition
                    bootbox.alert(msg);
                }
                else {
                    var selectedMediaSupportTrees = getSelectedMediaSupport();
                    var params = {
                        selectedMedia: idList,
                        mediaSupport: selectedMediaSupportTrees,
                        nextStep: "PeriodSelection"
                    };
                    $.ajax({
                        url: '/@_controller/SaveMediaSelection',
                        contentType: 'application/json',
                        type: 'POST',
                        datatype: 'JSON',
                        data: JSON.stringify(params),
                        error: function (xmlHttpRequest, errorText, thrownError) {
                        },
                        success: function (data) {
                            if (data != null) {
                                document.location = data.RedirectUrl;
                            }
                        }
                    });
                }
            });

            $('#Market').on('click', function (e) {
                e.preventDefault();
                var msg = validate();
                var isValide = !msg || msg.lentgh === 0;
                if (!isValide) {//mycondition
                    bootbox.alert(msg);
                }
                else {
                    var selectedMediaSupportTrees = getSelectedMediaSupport();
                    var action = "SaveMediaSelection";
                    var params = {
                        selectedMedia: idList,
                        mediaSupport: selectedMediaSupportTrees,
                        nextStep: "Index"
                    };

                    $.ajax({
                        url: '/@_controller/' + action,
                        contentType: 'application/json',
                        type: 'POST',
                        datatype: 'JSON',
                        data: JSON.stringify(params),
                        error: function (xmlHttpRequest, errorText, thrownError) {

                        },
                        success: function (data) {
                            if (data != null) {
                                document.location = data.RedirectUrl;
                            }
                        }
                    });
                }
            });
            $('#Dates').on('click', function (e) {
                e.preventDefault();
                var msg = validate();
                var isValide = !msg || msg.lentgh === 0;
                if (!isValide) {//mycondition
                    bootbox.alert(msg);
                }
                else {
                    var selectedMediaSupportTrees = getSelectedMediaSupport();
                    var action = "SaveMediaSelection";
                    var params = {
                        selectedMedia: idList,
                        mediaSupport: selectedMediaSupportTrees,
                        nextStep: "PeriodSelection"
                    };

                    $.ajax({
                        url: '/@_controller/' + action,
                        contentType: 'application/json',
                        type: 'POST',
                        datatype: 'JSON',
                        data: JSON.stringify(params),
                        error: function (xmlHttpRequest, errorText, thrownError) {

                        },
                        success: function (data) {
                            if (data != null) {
                                document.location = data.RedirectUrl;
                            }
                        }
                    });
                }
            });
            $('#Results').on('click', function (e) {
                e.preventDefault();
                var msg = validate();
                var isValide = !msg || msg.lentgh === 0;
                if (!isValide) {//mycondition
                    bootbox.alert(msg);
                }
                else {
                    var selectedMediaSupportTrees = getSelectedMediaSupport();
                    action = "SaveMediaSelection";
                    params = {
                        selectedMedia: idList,
                        mediaSupport: selectedMediaSupportTrees,
                        nextStep: "Results"
                    };
                    $.ajax({
                        url: '/@_controller/' + action,
                        contentType: 'application/json',
                        type: 'POST',
                        datatype: 'JSON',

                        data: JSON.stringify(params),
                        error: function (xmlHttpRequest, errorText, thrownError) {
                        },
                        success: function (data) {
                            if (data != null) {
                                document.location = data.RedirectUrl;
                            }
                        }
                    });
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/media-selection")
}