@model List<Km.AdExpressClientWeb.Models.MediaPlanNavigationNode>
@{
    ViewBag.Title = "Results";
}




<div class="row">
    @Html.Partial("Presentation")
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
        <div class="row">
            <ul>
                @foreach (var navigation in Model)
                {
                    if (navigation.IsActive)
                    {
                        <li class="tl-header">
                            <a class="btn btn-warning btn-circle" href="@Url.Action(navigation.Action,navigation.Controller, navigation.Id)">
                                <i class="fa fa-file-text"></i>
                            </a>
                            <p class="lead">@navigation.Title</p>
                        </li>
                    }
                    else
                    {
                        <li class="tl-header">
                            <a class="btn btn-warning btn-circle btn-empty" href="@Url.Action(navigation.Action,navigation.Controller, navigation.Id)">
                                <i class="fa fa-file-text"></i>
                            </a>
                            <p class="lead">@navigation.Title</p>
                        </li>
                    }
                    if (navigation.Id < Model.NavigationBar.Count())
                    {
                        if (navigation.IsActive)
                        {
                            <li class="tl-item">
                                <div class="tl-wrap tl-active">
                                    <div class="tl-content">
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="tl-item">
                                <div class="tl-wrap">
                                    <div class="tl-content">
                                    </div>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        </div>
    </div>