@model Km.AdExpressClientWeb.Models.Shared.ResultsViewModel
@using TNS.AdExpress.Domain.Translation;
@using TNS.AdExpress.Domain.Web;

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_LayoutResults.cshtml";
    var _controller = "AdvertisingAgency";
}

<link href="~/IgniteUI/css/structure/infragistics.css" rel="stylesheet" />
<link href="~/IgniteUI/css/themes/kantar/infragistics.theme.css" rel="stylesheet" />

<div class="row">
    @Html.Partial("Presentation", Model.Presentation)
    @Html.Partial("DetailSelection")
    @Html.Hidden("ExportController", "TestExport")
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
        <div class="row row-sm">
            @Html.Partial("NavigationBar", Model.NavigationBar)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_ExportTypeResults", Model)
    </div>
</div>
@*<div class="h20">
    </div>*@
<div class="row">
    <div class="col-md-12">
       @* @Html.Action("ResultOptions", _controller)*@
    </div>
</div>
<div id="subPeriodSelection" class="h20" style="min-height: 70px; display:none;"></div>
<div style="margin-bottom:10px;"></div>
<div id="msCreativesResult" class="hide">
</div>
<div class="row">
    <div class="col-md-12">
        <center>
            <div id="grid" class="hide">
            </div>
            <div id="gridMessage" class="hide"></div>
            <div id="gridLoader">
                <div class='uil-ring-css' style='transform:scale(0.54);'><div></div></div>
            </div>
        </center>
    </div>
</div>
<div id="resultModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="alertModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="exportResultModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<input type="hidden" id="current-url" value="/@_controller/Results" />